@charset "UTF-8";
/* coursePrimary 课程*/
.coursePrimay .couse_title {
  text-align: center;
  width: 60%;
  min-width: 225px;
  margin: 12px auto;
  color: #fff;
  font-size: 1.4rem;
  background: url(../images/lib/course/course_head_04.png) no-repeat;
  background-size: 100% 100%;
  height: 35px;
  line-height: 32px;
}
.coursePrimay .course_line {
  padding: 8px 0;
  border-top: 1px dashed #ddd;
  position: relative;
}
.coursePrimay .course_line:before {
  content: '';
  background: url(../images/lib/course/cuticon.png) no-repeat #fff;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: -10px;
  width: 20px;
  height: 18px;
}
.coursePrimay .course-content {
  position: relative;
  z-index: 60;
}
.coursePrimay .course-content .course-pro p, .coursePrimay .course-content .course-pro b {
  color: #ff6c00;
}
.coursePrimay .course-content .course-pro span {
  margin-bottom: 10px;
  display: block;
  text-indent: 2rem;
}
.coursePrimay .course_dec {
  background: url(../images/lib/course/course_textbg_01.png) no-repeat 0 0, url(../images/lib/course/course_textbg_03.png) no-repeat left bottom;
  background-size: 100%;
  padding: 15px 0 8px;
}
.coursePrimay .course-lump {
  background: url(../images/lib/course/course_textbg_02.png) repeat-y 0 0;
  background-size: 100%;
  padding: 15px;
}
.coursePrimay .footOption {
  padding: 15px;
  background-color: #fda148;
  overflow: hidden;
  margin-top: -4px;
  position: relative;
  z-index: 50;
}
.coursePrimay .footOption .stateText {
  width: 48%;
  float: left;
}
.coursePrimay .footOption .stateText a {
  width: 100%;
  height: 100%;
  display: block;
}
.coursePrimay .footOption .stateText:first-child {
  background: url(../images/lib/course/course_btn_04.png) no-repeat;
  background-size: 100% 100%;
  height: 50px;
  margin-right: 4%;
}
.coursePrimay .footOption .stateText:last-child {
  background: url(../images/lib/course/course_btn_06.png) no-repeat;
  background-size: 100% 100%;
  height: 50px;
}

.receive-success {
  padding: 10px 15px;
  text-align: center;
  position: relative;
  color: #fff;
}
.receive-success .check-true {
  width: 60px;
  height: 60px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.receive-success span {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.receive-success span.form-success {
  width: 80%;
}
.receive-success .btn-full-orange {
  background-color: #ff7800;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  margin: 10px auto;
}
.receive-success .btn-white {
  background-color: #fff;
  color: #434343;
  width: 40%;
  margin: 10px;
  font-size: 1.2rem;
}
.receive-success .btn-blue {
  background-color: #3b85ff;
  color: #fff;
  width: 40%;
  margin: 10px;
  font-size: 1.2rem;
}
.receive-success .close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.receive-success .close-btn img {
  width: 20px;
  height: 20px;
}

/* 课程报名 */
.course-enroll-wrapper {
  background: url(../images/lib/course/form-course_bg_01.png) repeat;
  background-size: 100%;
}

.course-explain-heading {
  color: #79705a;
  width: 80%;
  margin: 30px auto 20px;
  text-align: center;
}

form.course-enroll {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding: 10px 10px;
  margin: 0 15px;
}
form.course-enroll dl {
  background-color: #fff;
  border-radius: 2px;
}
form.course-enroll dd {
  padding: 10px 15px;
}
form.course-enroll dd:nth-of-type(1) input {
  background-color: #fffdea;
}
form.course-enroll dd:nth-of-type(1) input::-webkit-input-placeholder {
  color: #a39e90 !important;
}
form.course-enroll dd:nth-of-type(1) input::-moz-placeholder {
  color: #a39e90 !important;
}
form.course-enroll dd:nth-of-type(1) input::-ms-input-placeholder {
  color: #a39e90 !important;
}
form.course-enroll dd:nth-of-type(2) input {
  background-color: #e9efd7;
}
form.course-enroll dd:nth-of-type(2) input::-webkit-input-placeholder {
  color: #979e88 !important;
}
form.course-enroll dd:nth-of-type(2) input::-moz-placeholder {
  color: #979e88 !important;
}
form.course-enroll dd:nth-of-type(2) input::-ms-input-placeholder {
  color: #979e88 !important;
}
form.course-enroll dd:nth-of-type(3) input {
  background-color: #e0d9f2;
}
form.course-enroll dd:nth-of-type(3) input::-webkit-input-placeholder {
  color: #9485bc !important;
}
form.course-enroll dd:nth-of-type(3) input::-moz-placeholder {
  color: #9485bc !important;
}
form.course-enroll dd:nth-of-type(3) input::-ms-input-placeholder {
  color: #9485bc !important;
}
form.course-enroll dd input {
  border-radius: 8px;
  border: 1px solid #f7f4d9;
}
form.course-enroll dd:last-child {
  text-align: center;
}
form.course-enroll .form-title {
  font-size: 1.6rem;
  color: #96a27c;
  border-bottom: 1px solid #e5e8dd;
  text-align: center;
  line-height: 4rem;
  margin: 0 20% 20px;
}
form.course-enroll .sex-item {
  color: #9a927f;
  padding: 0 10px;
}
form.course-enroll .icon-xt-check {
  background: url(../images/icon-gray/xt-radio-check1.png) no-repeat;
  background-position: 0px 0px;
  background-size: 60px;
  color: #333333;
  cursor: default;
  display: inline-block;
  font-family: 'Microsoft YaHei';
  font-size: 1.5rem;
  font-style: italic;
  width: 25px;
  height: 25px;
  line-height: 24px;
  vertical-align: bottom;
}
form.course-enroll .sel .icon-xt-check {
  background-position: -30px 0;
}

.confirm-enroll-btn {
  background: url(../images/lib/course/course-btn-confirm.png) no-repeat 0 0;
  background-size: 100% 100%;
  height: 50px;
  margin: 30px 10px;
}
.confirm-enroll-btn a {
  width: 100%;
  height: 100%;
  display: block;
  text-indent: 999rem;
}

/*# sourceMappingURL=course.css.map */
