.favorite-wrapper .shop-pageHeading {
  background-color: initial;
  padding: 10px 0;
  border-bottom: 0;
}
.favorite-wrapper .shop-pageHeading .con-lt .favorNum, .favorite-wrapper .shop-pageHeading .con-lt .favorStore {
  color: #ee3535;
}
.favorite-wrapper .shop-pageHeading .con-rt .lump-stateEdit, .favorite-wrapper .shop-pageHeading .con-rt .lump-store-stateEdit {
  line-height: inherit;
  color: #03b8d5;
  font-size: 1.4rem;
}
.favorite-wrapper .edit-heading {
  background-color: #fff;
  text-align: center;
  font-size: 1.8rem;
  display: none;
}
.favorite-wrapper .switch-wrapper #favoriteTab {
  background-color: #fff;
}
.favorite-wrapper .switch-wrapper li {
  width: 50%;
  float: left;
  text-align: center;
  border: 0;
  position: relative;
}
.favorite-wrapper .switch-wrapper li.active {
  border-bottom: 1px solid #03b8d5;
}
.favorite-wrapper .switch-wrapper li.active a {
  color: #03b8d5 !important;
}
.favorite-wrapper .switch-wrapper li a {
  border-radius: 0;
}
.favorite-wrapper .switch-wrapper li:first-child:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 50%;
  right: 0;
  top: 25%;
  background-color: #ddd;
}
.favorite-wrapper .switch-wrapper .nav-tabs > li.active > a, .favorite-wrapper .switch-wrapper .nav-tabs > li.active > a:focus, .favorite-wrapper .switch-wrapper .nav-tabs > li.active > a:hover {
  background-color: initial;
  border: 0;
}
.favorite-wrapper .favorite-content .privatCont .goods-name, .favorite-wrapper .favorite-content .privatCont .store-name, .favorite-wrapper .favorite-store-lists .privatCont .goods-name, .favorite-wrapper .favorite-store-lists .privatCont .store-name {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  color: #333;
}
.favorite-wrapper .favorite-content .lump-info, .favorite-wrapper .favorite-store-lists .lump-info {
  padding: 10px 10px 10px 10px;
}
.favorite-wrapper .favorite-lists .lumpBox:first-child, .favorite-wrapper .favorite-store-lists .lumpBox:first-child {
  margin-top: 0;
}
.favorite-wrapper .favorite-lists .lumpBox .propd-rt, .favorite-wrapper .favorite-store-lists .lumpBox .propd-rt {
  padding-left: 0;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.favorite-wrapper .favorite-lists .lumpBox .propd-rt.in, .favorite-wrapper .favorite-store-lists .lumpBox .propd-rt.in {
  padding-left: 40px;
}
.favorite-wrapper .favorite-lists .lumpBox .proRadius, .favorite-wrapper .favorite-store-lists .lumpBox .proRadius {
  display: none;
}
.favorite-wrapper .favorite-store-lists .privatCont .store-name {
  margin-top: 20px;
}
.favorite-wrapper .favorite-store-lists .lump-info {
  padding: 10px;
}

.fac-select {
  display: inline-block;
}
.fac-select .total-box {
  width: auto;
  display: inline-block;
}

.shopping-total {
  display: none;
}
.shopping-total .total-box .selectAllBtn #icon-checkAll {
  background: url(../images/icon-gray/circle-check2.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 30px;
  height: 30px;
  top: 12px;
  display: inline-block;
  position: absolute;
}
.shopping-total .total-box .selectAllBtn #icon-checkAll.icon-check {
  background-position: -30px 0;
}
.shopping-total .total-box .state2-selectAllBtn #state2-icon-checkAll {
  background: url(../images/icon-gray/circle-check2.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 30px;
  height: 30px;
  top: 12px;
  display: inline-block;
  position: absolute;
}
.shopping-total .total-box .state2-selectAllBtn #state2-icon-checkAll.icon-check {
  background-position: -30px 0;
}
.shopping-total .total-box .selectAllBtn em, .shopping-total .total-box .state2-selectAllBtn em {
  margin-left: 30px;
  color: #c3c3c3;
}

.goods-take-off .featured-image, .store-take-off .featured-image {
  opacity: 1 !important;
}
.goods-take-off .p-condition, .store-take-off .p-condition {
  width: 65px !important;
  height: 55px !important;
  bottom: 5% !important;
  right: 5% !important;
  left: initial !important;
}
.goods-take-off .propd-rt, .store-take-off .propd-rt {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.goods-take-off .propd-rt.in .goods-name, .store-take-off .propd-rt.in .goods-name {
  color: gray !important;
}

.receive-success, .receive-used {
  padding: 10px 15px;
  text-align: center;
  position: relative;
  color: #fff;
}
.receive-success .check-true, .receive-used .check-true {
  width: 60px;
  height: 60px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.receive-success span, .receive-used span {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.receive-success .btn-white, .receive-used .btn-white {
  background-color: #fff;
  color: #434343;
  width: 40%;
  margin: 10px;
  font-size: 1.2rem;
}
.receive-success .btn-white:hover, .receive-used .btn-white:hover, .receive-success .btn-white:focus, .receive-used .btn-white:focus, .receive-success .btn-white:active, .receive-used .btn-white:active {
  color: #434343 !important;
}
.receive-success .btn-blue, .receive-used .btn-blue {
  background-color: #3b85ff;
  color: #fff;
  width: 40%;
  margin: 10px;
  font-size: 1.2rem;
}
.receive-success .close-btn, .receive-used .close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.receive-success .close-btn img, .receive-used .close-btn img {
  width: 20px;
  height: 20px;
}

.receive-used .btn-white {
  width: 100%;
  margin: 15px 0;
}

/*# sourceMappingURL=favorite.css.map */
