h1#brand {
  color: #32b9aa;
}

#sidebar {
  background-color: #32b9aa;
}

/* 
*
* hub 
*/
.hubMain {
  background-color: #fff;
}
.hubMain ul.hub-box {
  margin-bottom: 0;
}
.hubMain ul.hub-box li {
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  font-size: 1.6rem;
}
.hubMain ul.hub-box li a {
  padding: 15px 0;
}

.hubOrderlist .order-lump {
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 6px;
}
.hubOrderlist a.ordertar {
  border-bottom: 1px solid #d3d3d3;
}
.hubOrderlist dl.orderContent {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.hubOrderlist dl.orderContent dt {
  line-height: 2.2rem;
}
.hubOrderlist dl.orderContent dt div {
  display: inline-block;
}
.hubOrderlist dl.orderContent dt .hub-order-price {
  color: #32b9aa;
  font-weight: normal;
  font-size: 1.3rem;
}
.hubOrderlist dl.orderContent dt .hub-order-price i {
  font-weight: bold !important;
  font-size: 1.6rem;
  padding-left: 2px;
}
.hubOrderlist dl.orderContent dd {
  line-height: 2.5rem;
  font-size: 1.2rem;
}
.hubOrderlist dl.orderContent .inline div {
  width: 48%;
  display: inline-block;
  white-space: nowrap;
}
.hubOrderlist dl.orderContent .inline div:first-child {
  padding-right: 4%;
}
.hubOrderlist .hub-order-state {
  clear: both;
  overflow: hidden;
  padding: 12px 0;
}
.hubOrderlist .hub-order-state .evaluate {
  background-color: #8a796e;
  color: #fff;
}
.hubOrderlist .hub-order-state em {
  float: left;
  height: 100%;
  line-height: 34px;
  overflow: hidden;
  margin-left: 20px;
  font-size: 1.4rem;
}
.hubOrderlist .hub-order-state em i {
  padding-right: 5px;
}
.hubOrderlist .hub-order-state div {
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  display: table;
}
.hubOrderlist .hub-order-state div .state {
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  color: #50bfcf;
}
.hubOrderlist .hub-order-state div .state.state.cancel {
  color: #acacac;
}

/* HUB centerlist */
.hub-wrapper {
  position: relative;
}

.huball {
  padding-bottom: 50px;
}

.hubCenter .mid {
  width: 100%;
  position: absolute;
  z-index: 8;
  background-color: #e5e5e9;
}
.hubCenter .rf {
  position: absolute;
  background: #fefefe;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #313131;
  width: 100%;
  overflow: hidden;
}
.hubCenter .rf li {
  width: 100%;
  border-bottom: 1px solid #fff;
  font-size: 1.6rem;
  text-align: center;
}
.hubCenter .rf li a {
  padding: 15px 0;
  color: #fff;
  border-radius: 0;
}
.hubCenter .touchon {
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: translateX(-100%);
}
.hubCenter .touchout {
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: translateX(0);
}

.h-hotel .h-condition {
  background: url(../images/member/h1_03.png) no-repeat;
  position: absolute;
  width: 80px;
  height: 30px;
  top: 30%;
  right: 20%;
  background-size: 100%;
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.h-arrive .h-condition {
  background: url(../images/member/h2_03.png) no-repeat;
  position: absolute;
  width: 80px;
  height: 30px;
  top: 30%;
  right: 20%;
  background-size: 100%;
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.h-out .h-condition {
  background: url(../images/member/h3_03.png) no-repeat;
  position: absolute;
  width: 80px;
  height: 30px;
  top: 30%;
  right: 20%;
  background-size: 100%;
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.p-wx .p-condition {
  background: url(../images/member/p1_03.png) no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10%;
  right: 25%;
  background-size: 100%;
}

.p-arrive .p-condition {
  background: url(../images/member/p2_03.png) no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10%;
  right: 25%;
  background-size: 100%;
}

/*# sourceMappingURL=hub.css.map */
