@charset "UTF-8";
/* xt-personal mix */
h1#brand {
  color: #32b9aa;
}

#sidebar {
  background-color: #32b9aa;
}

body {
  font-family: 方正兰亭中黑, 微软雅黑, 方正兰亭纤黑简体, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.lottery {
  background-color: #fff;
}

/* 
 * Coupon
 */
.total-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.coupon-box {
  width: 80%;
  margin: 0 auto;
  background: url(../images/member/couponNum_03.png) no-repeat;
  background-size: 100% 100%;
  max-height: 110px;
  color: #fff;
  margin-bottom: 20px;
}
.coupon-box > div {
  text-align: center;
  padding-right: 20%;
}
.coupon-box .couponCount {
  font-size: 3rem;
  font-style: oblique;
  font-family: cursive;
}
.coupon-box .couponCount em {
  margin-left: 10px;
  font-size: 3rem;
}
.coupon-box .coupon-rule {
  margin-bottom: 10px;
}
.coupon-box .coupon-date {
  font-size: 1rem;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  text-align: right;
  border-top: 1px dashed #ccc;
  padding-top: 5px;
}
.coupon-box .coupon-info {
  padding: 10px 20% 10px 0;
  min-height: 105px;
}
.coupon-box a {
  display: block;
  text-align: center;
}

.coupon-expire {
  background: url(../images/member/couponNum_05.png) no-repeat;
  background-size: 100% 100%;
}

.coupon-box1 {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 0;
  text-align: center;
}
.coupon-box1 .coupon-info1 img {
  width: 20%;
}
.coupon-box1 .coupon-text1 span {
  line-height: 2.5rem;
  color: #8d8d8d;
}
.coupon-box1 .coupon-text1 a.coupon-hp {
  color: #8dc5c6;
  border-bottom: 1px solid #8dc5c6;
  margin: 0 35%;
  white-space: nowrap;
}
.coupon-box1 .coupon-text1 a.coupon-hp:hover, .coupon-box1 .coupon-text1 a.coupon-hp :focus, .coupon-box1 .coupon-text1 a.coupon-hp :active, .coupon-box1 .coupon-text1 a.coupon-hp :visited {
  color: #ABD9DA !important;
}

/* 
 * Member center
 */
.memberfix {
  background-color: #f0efed;
}

.member-wrapper .top-tiny .tiny-image {
  position: absolute;
  top: 0;
  background: url(../images/member/card/top_sawtooth_07.png) bottom left no-repeat;
  padding-bottom: 10px;
}
.member-wrapper .top-tiny .tiny-top-tank {
  width: 100%;
  /* padding: 5% 0; */
  top: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
.member-wrapper .top-tiny .tiny-top-tank div {
  display: inline-block;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message {
  padding: 0 15px;
  vertical-align: middle;
  background-color: #fff;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dl {
  position: relative;
  color: #fff;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dt.tiny-cardInfo {
  font-weight: normal;
  font-size: 1.8rem;
  margin-bottom: 4px;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message .card-payBtn,
.member-wrapper .top-tiny .tiny-top-tank .tiny-message .card-back-payBtn {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: -5%;
  right: 0;
  cursor: pointer;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message .card-payBtn span,
.member-wrapper .top-tiny .tiny-top-tank .tiny-message .card-back-payBtn span {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 18px;
  padding-top: 16%;
  font-size: 1.2rem;
  color: #fff;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd {
  width: 65%;
  min-width: 78px;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd.tiny-info {
  position: absolute;
  width: 100%;
  top: 12%;
  left: 0;
  padding: 0 15px;
  display: table;
  text-align: left;
  border-radius: 100%;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd.tiny-info img {
  width: 70px;
  height: 70px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 100%;
  border: 4px solid #fff;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd.tiny-info ul {
  display: table-cell;
  vertical-align: middle;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd.tiny-info ul li {
  font-size: 1.6rem;
  position: relative;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd.tiny-info ul li .open_name {
  margin-left: 40px;
  font-size: 1.4rem;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd.tiny-info ul li:last-child {
  font-size: 2rem;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd.tiny-explain {
  position: absolute;
  width: 100%;
  bottom: 30%;
  white-space: nowrap;
  font-size: 1.2rem;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  text-align: left;
  left: 0;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message dd.tiny-card-number {
  position: absolute;
  text-align: left;
  left: 5%;
  bottom: 10px;
  color: #333;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message #amount {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  width: 80%;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message #amount span a {
  display: inline-block;
  width: 45%;
  float: left;
  overflow: hidden;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message #amount span a:first-child {
  margin-right: 10%;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message #amount .btn30 {
  padding: 6px 0 !important;
  width: 100%;
}
.member-wrapper .top-tiny .tiny-top-tank .tiny-message #amount .btn-orange {
  background-color: #f48345 !important;
  border-color: #F27D3D !important;
}
.member-wrapper .member-topnav {
  padding: 5px 0;
  font-size: 0;
  border-bottom: 2px solid #e6e6e6;
  background-color: #fff;
}
.member-wrapper .member-topnav .nav-item {
  width: 20%;
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
}
.member-wrapper .member-topnav .nav-item a i {
  display: block;
  width: 18px;
  height: 15px;
  margin: 5px auto 12px;
}
.member-wrapper .member-topnav dd:first-child i {
  width: 21px;
}
.member-wrapper .member-topnav dd:not(:first-child):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 35%;
  background-color: #ddd;
  margin: auto;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
}
.member-wrapper .card-back {
  display: none;
  background-color: #fff;
}
.member-wrapper .card-back #back-imgBox {
  margin: 0 15px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  position: relative;
}
.member-wrapper .card-back #back-imgBox .tiny-QR {
  width: 80%;
}
.member-wrapper .card-back #back-imgBox .tiny-QR .btn {
  width: 100%;
  background-color: #d5d3d3;
  margin: 10px 0 20px;
}
.member-wrapper .card-back #back-imgBox .QR1 {
  margin: 15px 0;
}
.member-wrapper .card-back .card-back-footer {
  width: 100%;
  padding: 10px 15%;
}
.member-wrapper .card-back .card-back-footer h4 {
  font-size: 1.6rem;
}
.member-wrapper .card-back .card-back-footer h4 img {
  width: 18px;
  margin-right: 10px;
}
.member-wrapper .card-back .card-back-footer li {
  white-space: nowrap;
}
.member-wrapper .card-back .card-back-footer li em {
  border-radius: 100%;
  background-color: #c9c9c9;
  color: #fff;
  width: 15px;
  height: 15px;
  line-height: 15px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.member-wrapper .card-back .card-back-footer .getback-pw {
  color: #0090ff;
  margin-left: 10px;
  display: inline-block;
}
.member-wrapper .card-back .card-back-footer .getback-pw:active, .member-wrapper .card-back .card-back-footer .getback-pw:focus, .member-wrapper .card-back .card-back-footer .getback-pw:hover, .member-wrapper .card-back .card-back-footer .getback-pw:visited {
  color: #0090ff !important;
}

/* member-modal */
.memberfix .manage-mode {
  color: #000;
}
.memberfix .manage-mode ul {
  margin-bottom: 0;
  padding: 10px 10px;
}
.memberfix .manage-mode li {
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 4px;
}
.memberfix .manage-mode li:first-child {
  background-color: #cff0e6;
}
.memberfix .manage-mode li:last-child {
  border: 1px solid #aaffe6;
  padding: 0 0;
}
.memberfix .manage-mode li .select-way {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.memberfix .manage-mode li input {
  border: none;
  background-color: transparent;
}
.memberfix .manage-mode li select {
  width: 100%;
  min-height: 100%;
  height: 3em;
  margin: 0 8px;
  max-height: 100%;
  outline: 0px;
  border-radius: inherit;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 2;
}
.memberfix .manage-mode .mg-payBtn {
  font-size: 0;
  padding: 0 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.memberfix .manage-mode .mg-payBtn button {
  display: inline-block;
  color: #fff;
}
.memberfix .manage-mode .mg-payBtn .mg-btn1 {
  background-color: #b2b2b2;
  width: 35%;
  margin-right: 5%;
}
.memberfix .manage-mode .mg-payBtn .mg-btn2 {
  background-color: #07be04;
  width: 60%;
}

/*卡片区域*/
.more_cardfront_imgBox_animate {
  -webkit-animation: frontCard 1s;
  -moz-animation: frontCard 1s;
  animation: frontCard 1s;
}

.more_cardback_imgBox_animate {
  -webkit-animation: backCard 1s;
  moz-animation: backCard 1s;
  animation: backCard 1s;
}

@-moz-keyframes frontCard {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@-webkit-keyframes frontCard {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes frontCard {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@-moz-keyframes backCard {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@-webkit-keyframes backCard {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
@keyframes backCard {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
.service-ol a {
  text-align: center;
  padding: 10px;
}
.service-ol a img {
  width: 25px;
  height: 20px;
  margin-right: 5px;
}

.memberMain {
  padding-top: 10px;
}
.memberMain ul.member-box {
  background-color: #fff;
}
.memberMain li.member-item {
  border-bottom: 1px solid #e6e6e6;
}
.memberMain li.member-item a {
  padding: 18px 15px;
}
.memberMain li.member-item .item-list {
  position: relative;
}
.memberMain li.member-item .item-list em img {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  vertical-align: top;
}
.memberMain li.member-item .item-value {
  display: inline-block;
  position: absolute;
  right: 0;
}
.memberMain li.member-item .item-value em {
  margin-right: 15px;
  color: #b3b3b3;
}
.memberMain li.member-item .item-value .recommend {
  border-radius: 5px;
  color: #fff;
  background-color: #ec5330;
  text-align: center;
  padding: 2px 4px;
  font-size: 1.2rem;
}

.member-lv {
  display: inline-block;
  color: #ff8383;
}
.member-lv i.lv-systerm {
  background: url(../../../script/image/level/lv_crown_01.png) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 28px;
  position: absolute;
  top: -7px;
  margin-left: 4px;
}
.member-lv i.lv-systerm.lv-5 {
  background-image: url(../../../script/image/level/lv_crown_05.png);
}
.member-lv i.lv-systerm.lv-4 {
  background-image: url(../../../script/image/level/lv_crown_04.png);
}
.member-lv i.lv-systerm.lv-3 {
  background-image: url(../../../script/image/level/lv_crown_03.png);
}
.member-lv i.lv-systerm.lv-2 {
  background-image: url(../../../script/image/level/lv_crown_02.png);
}
.member-lv i.lv-systerm.lv-1 {
  background-image: url(../../../script/image/level/lv_crown_01.png);
}

i.arrow-right {
  background: url(../images/icon-gray/icon-arrow.png) no-repeat right center;
  background-size: 6px;
  padding-right: 20px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 0px;
  width: 14px;
  height: 14px;
  display: inline-block;
}

i.icon-arrow-angel {
  background: url(../images/angel-arrow.png) no-repeat right center;
  background-size: 11px;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 0px;
  width: 14px;
  height: 14px;
  display: inline-block;
}

/* 
 * recommend
 */
body.recommend {
  background: url(../images/recommend_bg.jpg) repeat;
  background-size: 100% 100%;
}
body.recommend img {
  width: 100%;
}

.manager-list {
  padding-top: 40px;
  padding-bottom: 40px;
}
.manager-list .recommend-item {
  margin-bottom: 30px;
}
.manager-list .recommend-item:nth-of-type(2n) .heading {
  float: right;
  margin: 0 2% 0 8%;
}
.manager-list .recommend-item:nth-of-type(2n) .manager-desc {
  text-align: right;
}
.manager-list .recommend-item:nth-of-type(2n) .manager-desc .mix-line {
  background-position: right -12px;
  margin-left: -2px;
}
.manager-list .recommend-manager {
  overflow: hidden;
  font-size: 0;
  margin-bottom: 20px;
}
.manager-list .recommend-manager > div {
  font-size: 1.4rem;
}
.manager-list .recommend-manager .heading {
  width: 20%;
  height: 60px;
  max-width: 60px;
  margin: 0 8% 0 2%;
  border-radius: 8px;
  display: inline-block;
}
.manager-list .recommend-manager .manager-desc {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}
.manager-list .recommend-manager .manager-desc div,
.manager-list .recommend-manager .manager-desc span,
.manager-list .recommend-manager .manager-desc h3 {
  color: #fff;
}
.manager-list .recommend-manager .manager-desc h3 {
  margin: 0;
  font-family: 黑体;
  font-size: 1.6rem;
}
.manager-list .recommend-manager .manager-desc .mix-line {
  background: url(../images/recommend_l.png) no-repeat;
  background-size: 340px;
  width: 110%;
  padding: 6px 0;
  margin: 5px 0;
  margin-left: -15px;
}
.manager-list .recommend-manager .manager-desc span.phrase {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
  font-size: 1.2rem;
}
.manager-list .recommendGoods {
  position: relative;
  overflow: hidden;
}
.manager-list .recommendGoods.recomm-hot::before {
  content: "HOT";
  position: absolute;
  height: 0;
  width: 63px;
  box-sizing: content-box;
  top: 7px;
  left: -25px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5rem;
  z-index: 100;
  padding-right: 2px;
  text-align: center;
  border-bottom: 20px solid #00beaf;
  border-left: 10px solid #00beaf;
  border-right: 10px solid #00beaf;
}
.manager-list .recommendGoods.recomm-new::before {
  content: "NEW";
  position: absolute;
  height: 0;
  width: 63px;
  box-sizing: content-box;
  top: 7px;
  left: -25px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5rem;
  z-index: 100;
  padding-right: 2px;
  text-align: center;
  border-bottom: 20px solid #d75283;
  border-left: 10px solid #d75283;
  border-right: 10px solid #d75283;
}
.manager-list .recommendGoods .recommend-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5px 5%;
  color: #fff;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.manager-list .recommendGoods .recommend-title .vote {
  display: inline-block;
}
.manager-list .recommendGoods .recommend-title .vote i {
  margin-right: 4px;
  color: #D8C8B6;
}
.manager-list .recommendGoods .recommend-title .vote span {
  color: #fff;
  padding: 0 8px;
}

/* point exchange */
body.exchange {
  background-color: #fef8e8;
}

.exchangeLists {
  padding: 10px 10px;
}
.exchangeLists .contentBox {
  vertical-align: middle;
  display: table;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  border-bottom: 1px dotted #e6e2d7;
}
.exchangeLists .contentBox .pro-lt {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
}
.exchangeLists .contentBox .content-l {
  width: 45%;
  max-width: 82px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  background-color: #eee1d0;
}
.exchangeLists .contentBox .content-l img {
  border-radius: 5px;
  height: 55px;
}
.exchangeLists .contentBox .content-m {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 2%;
  font-size: 1.4rem;
}
.exchangeLists .contentBox .content-m ul {
  margin-bottom: 0;
}
.exchangeLists .contentBox .content-m ul li.stateText {
  line-height: 2rem;
}
.exchangeLists .contentBox .content-m ul li.stateText:first-child {
  font-weight: bold;
}
.exchangeLists .contentBox .content-m ul li.stateText:last-child {
  color: #babab7;
  font-size: 1.3rem;
}
.exchangeLists .contentBox .content-r {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-align: right;
  padding-right: 5px;
}

.btn-yellow {
  background-color: #fecc45;
  color: #e73044;
  padding: 4px 16px;
}
.btn-yellow:hover,
.btn-yellow :focus,
.btn-yellow :active,
.btn-yellow :visited {
  background-color: #F2C13B;
  color: #e73044 !important;
}

.fullprice .btn-yellow {
  background-color: #bdbdbd;
  color: #fff;
}
.fullprice .btn-yellow:hover,
.fullprice .btn-yellow :focus,
.fullprice .btn-yellow :active,
.fullprice .btn-yellow :visited {
  color: #fff !important;
}

/* point0 */
.Point0 .member-bespread {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 640px;
  overflow: hidden;
}
.Point0 .top-point .point-bg {
  position: relative;
}
.Point0 .top-point .point-bg .point {
  position: absolute;
  width: 100%;
  bottom: 15%;
  text-align: center;
}
.Point0 .top-point .point-bg .point em {
  color: #f56525;
  font-size: 2.2rem;
  font-weight: bold;
  padding-right: 5px;
}
.Point0 .point-message {
  background: url(../images/member/point-bg_02.png);
  background-size: 100%;
  height: 960px;
  padding-top: 20px;
  width: 100%;
}
.Point0 .point-message .getPoint {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 6px;
  background-color: #fff;
  min-height: 200px;
  box-shadow: 1px 2px 5px #ddd;
  position: relative;
}
.Point0 .point-message .getPoint:after {
  content: "";
  position: absolute;
  background: url(../images/member/point-gift_03.png) no-repeat;
  background-size: 100%;
  width: 40px;
  height: 80px;
  right: -5%;
  bottom: -22%;
}
.Point0 .point-message .get-title {
  color: #ff9000;
  font-size: 1.6rem;
}
.Point0 .point-message .tomall {
  width: 90%;
  padding-top: 15%;
  margin: 0 auto;
  text-align: center;
}

.Point1 {
  background: url(../images/member/pointBg_03.png) repeat;
  /* point */
}
.Point1 .member-bespread {
    /*   position:absolute;
width:100%;
height:100%;
overflow:hidden; */
}
.Point1 .top-point .point-bg {
  position: relative;
}
.Point1 .top-point .point-bg .point {
  position: relative;
  width: 100%;
  bottom: 30px;
  text-align: center;
  color: #ffdf73;
  font-size: 2.8rem;
}
.Point1 .top-point .point-bg .point em {
  font-size: 4rem;
  font-weight: bold;
  padding-right: 5px;
  display: block;
}
.Point1 .point-message {
  background: url(../image/member/point-bg_02.png);
  background-size: 100%;
  width: 100%;
}
.Point1 .point-message .getPoint {
  width: 90%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 6px;
  background-color: #fff;
  min-height: 180px;
  box-shadow: 1px 2px 5px #ddd;
  position: relative;
}
.Point1 .point-message .getPoint .pointHelp {
  color: #ff3637;
  font-size: 1.3rem;
}
.Point1 .point-message .getPoint:after {
  content: "";
  position: absolute;
  background: url(../images/member/rightgold.png) no-repeat;
  background-size: 100%;
  width: 80px;
  height: 65px;
  right: -5%;
  bottom: -16%;
}
.Point1 .point-message .getPoint:before {
  content: "";
  position: absolute;
  background: url(../images/member/leftgold.png) no-repeat;
  background-size: 100%;
  width: 80px;
  height: 65px;
  left: -8%;
  bottom: -14%;
}
.Point1 .point-message .get-title {
  color: #8c68d6;
  font-size: 1.6rem;
  line-height: 3rem;
}
.Point1 .point-message .get-main {
  line-height: 2rem;
}
.Point1 .point-message .get-main span {
  display: block;
  color: #6e3911;
}
.Point1 .point-message .tomall {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  padding: 15% 0 10%;
}

/* point3 */
.Point3 .member-bespread {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 640px;
  overflow: hidden;
}
.Point3 .top-point .point-bg {
  position: relative;
}
.Point3 .top-point .point-bg .point {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
}
.Point3 .top-point .point-bg .point h3 {
  font-size: 1.8rem;
}
.Point3 .top-point .point-bg .point em {
  color: #f56525;
  font-size: 2.2rem;
  font-weight: bold;
  padding-right: 5px;
}
.Point3 .point-message {
  background: url(../images/member/point/point_bg_03.png);
  background-size: 100%;
  height: 960px;
  width: 100%;
}
.Point3 .point-message .getPoint {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 6px;
  background-color: #f1f3f5;
  min-height: 200px;
  position: relative;
  -moz-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.128);
  -webkit-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.128);
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.128);
}
.Point3 .point-message .getPoint:after {
  content: "";
  position: absolute;
  background: url(../images/member/point/point-gift_03.png) no-repeat;
  background-size: 100%;
  width: 40px;
  height: 80px;
  right: -5%;
  bottom: -22%;
}
.Point3 .point-message .getPoint .get-main p {
  margin: 10px 0;
}
.Point3 .point-message .point-market {
  text-align: center;
  /* margin: 25px 0; */
  bottom: 10%;
  position: fixed;
  width: 100%;
}
.Point3 .point-message .point-market a {
  width: 90%;
  color: #fff;
  background-color: #78c4db;
}
.Point3 .point-message .point-market a:focus, .Point3 .point-message .point-market a:hover, .Point3 .point-message .point-market a:visited, .Point3 .point-message .point-market a:focus {
  color: #fff !important;
}
.Point3 .point-message .get-title {
  color: #ff9000;
  font-size: 1.6rem;
}
.Point3 .point-message .tomall {
  width: 90%;
  padding-top: 15%;
  margin: 0 auto;
  text-align: center;
}

/* 
 * lottery
 */
.lottery-wrapper {
  background: url(../images/member/top_wave_01.png) no-repeat top center;
  overflow: hidden;
}
.lottery-wrapper .lotteryTop {
  overflow: hidden;
}
.lottery-wrapper .lotteryTop h3 {
  color: #351100;
  font-size: 2.2rem;
  text-align: center;
  line-height: 2.2rem;
  padding: 20px 0;
}
.lottery-wrapper .lotteryTop h3 .title-en {
  color: #bc0911;
}

.lotteryLists {
  padding: 0 10px;
  margin-bottom: 50px;
}
.lotteryLists .ticketBox {
  position: relative;
  font-size: 0;
  -webkit-text-size-adjust: none;
}
.lotteryLists .ticketBox .state {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  height: 100%;
  overflow: hidden;
}
.lotteryLists .ticketBox .ticket-l {
  width: 30%;
  vertical-align: top;
}
.lotteryLists .ticketBox .ticket-l div.regular {
  padding: 10px 5px 5px 10px;
  color: #fff;
  font-size: 1.4rem;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  vertical-align: top;
  word-wrap: break-word;
}
.lotteryLists .ticketBox .ticket-l div.regular .regular-cont {
  font-size: 1.2rem;
  max-height: 70%;
  overflow: hidden;
}
.lotteryLists .ticketBox .ticket-r {
  width: 70%;
  vertical-align: top;
}
.lotteryLists .ticketBox .ticket-r .ticket-image {
  padding: 4px 4px 0 0;
  width: 100%;
  height: 100%;
}
.lotteryLists .ticketBox .ticket-r .ticket-image img {
  height: 100%;
  max-height: 120px;
}
.lotteryLists .ticketBox .ticket-r .ticket-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 5px;
  padding: 5px 0 5px 5%;
  color: #fff;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.lotteryLists .t-finish .t-condition {
  background: url(../images/member/3_06.png) no-repeat;
  position: absolute;
  width: 70px;
  height: 70px;
  top: -10px;
  right: -4px;
  background-size: 100%;
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.lotteryLists .t-cancel .t-condition {
  background: url(../images/member/2_06.png) no-repeat;
  position: absolute;
  width: 70px;
  height: 70px;
  top: -10px;
  right: -4px;
  background-size: 100%;
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.lotteryLists .t-Expired .t-condition {
  background: url(../images/member/1_06.png) no-repeat;
  position: absolute;
  width: 70px;
  height: 70px;
  top: -10px;
  right: -4px;
  background-size: 100%;
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* 
 * ticket
 */
.abbrstate {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.abbrstate .Noticket {
  display: table-cell;
  vertical-align: middle;
}
.abbrstate .Noticket img {
  width: 25%;
  min-width: 80px;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

/* 
 * sign day
 */
body.sign .datepicker {
  display: block !important;
  position: relative !important;
  bottom: 10%;
  background: transparent none repeat scroll 0% 0% !important;
  border: none;
}
body.sign .datepicker td {
  border-radius: 0;
}
body.sign .datepicker td.day:hover {
  background: transparent !important;
  cursor: pointer;
}
body.sign .datepicker td.signTag::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../images/member/sign_tag.png) no-repeat;
  background-size: 100%;
}
body.sign .datepicker td.active,
body.sign .datepicker td.active:hover {
  background: #ba8548 !important;
}
body.sign .datepicker table {
  color: #72441d;
}
body.sign .datepicker table thead tr:first-child th {
  cursor: pointer;
}
body.sign .datepicker table thead tr:first-child th:hover {
  background: transparent !important;
}
body.sign .datepicker table tbody td {
  border: 1px solid #72441d;
  font-weight: bold;
  position: relative;
}
body.sign .datepicker-days {
  display: block;
  background: transparent;
  margin: 0 auto 20px;
}

.sign_wrapper {
  background: url(../images/member/registor_bg_02.png) repeat-y;
  background-size: 100%;
}

.signMain {
  padding-bottom: 20px;
  margin-top: -15px;
}
.signMain .signRecord dl {
  font-size: 0;
}
.signMain .signRecord dl dd {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #72441d;
  text-align: center;
  width: 34%;
}
.signMain .signRecord dl dd i {
  display: block;
}
.signMain .signRecord .signStatus {
  width: 32%;
  cursor: pointer;
  padding: 5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.signMain .signRecord .signStatus:hover,
.signMain .signRecord .signStatus :focus,
.signMain .signRecord .signStatus :active {
  background-image: none;
  outline: 0;
  -moz-box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.125);
}
.signMain .signRecord .signStatus img {
  border-radius: 10px;
}
.signMain .signOption {
  padding: 15px 10px;
}
.signMain .signOption dl {
  font-size: 0;
  position: relative;
}
.signMain .signOption dl dd.sign-item {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #72441d;
  text-align: center;
  width: 33.33%;
}
.signMain .signOption dl dd.sign-item:not(:first-child)::before {
  content: "";
  background: url(../images/member/row_trace.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 15%;
  width: 2px;
  height: 70%;
}
.signMain .signOption dl dd.sign-item a {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.signMain .signOption dl:after {
  content: "";
  background: url(../images/member/signlistStand.png) no-repeat;
  background-size: 100%;
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: -90%;
  left: 0;
  right: 0;
}

/* signPlus */
#signPlus {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 120px;
  height: 120px;
  z-index: 110;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  transform-style: preserve-3d;
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
}
#signPlus .front,
#signPlus .back {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 10px;
  border-radius: 100%;
}
#signPlus .front {
  background-color: #fad31c;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#signPlus .front b {
  font-size: 4rem;
}
#signPlus .front span {
  display: block;
  font-size: 1.2rem;
}
#signPlus .back {
  background-color: #fad31c;
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#signPlus.op-cover {
  opacity: 0;
}

.signFloat {
  -moz-animation: signAdd 1.5s ease-out;
  -webkit-animation: signAdd 1.5s ease-out;
  animation: signAdd 1.5s ease-out;
  display: block;
}

@keyframes signAdd {
  0% {
    transform: translateY(200%);
    opacity: .8;
    display: block !important;
  }
  68% {
    transform: translateY(0%);
    background-color: #fad31c;
    opacity: 1;
    display: block !important;
  }
  100% {
    transform: translateY(0%);
    background-color: #fad31c;
    opacity: 0;
    display: none !important;
    perspective: 1000;
    transform: rotateY(180deg);
  }
}
/* 
 * pointRecord
 */
.signRecord_wrapper {
  background: url(../images/member/top_wave_01.png) no-repeat;
  background-size: 100%;
}
.signRecord_wrapper .signRecord_top {
  color: #351100;
  font-size: 1.5rem;
  text-align: left;
  line-height: 2.2rem;
  padding-top: 10px;
}
.signRecord_wrapper .signRecord_top h3 {
  font-weight: bold;
  line-height: 2rem;
}
.signRecord_wrapper .signRecord_top h3 .title-en {
  color: #bc0911;
}
.signRecord_wrapper .integrateLists {
  padding-bottom: 40px;
}
.signRecord_wrapper .integrateLists dt {
  font-size: 0;
  background-color: #c386e3;
  color: #fff;
  padding: 5px 0;
}
.signRecord_wrapper .integrateLists dt span {
  display: inline-block;
  width: 33.33%;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.signRecord_wrapper .integrateLists dt .t3 {
  float: right;
  padding: 0 30px;
  width: auto;
}
.signRecord_wrapper .integrateLists dd {
  padding: 15px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.6);
}
.signRecord_wrapper .integrateLists dd div {
  display: inline-block;
  color: #6e3911;
  width: 33.33%;
}
.signRecord_wrapper .integrateLists dd .pointState {
  padding: 0 20px 0 5px;
}
.signRecord_wrapper .integrateLists dd .pointDate {
  text-align: center;
}
.signRecord_wrapper .integrateLists dd .points {
  padding: 0 30px;
  float: right;
  width: auto;
}

/* footer */
.cd-footer .footer_region {
  width: 100%;
  margin: 0 auto;
  min-height: 47px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #EBEBEB;
}
.cd-footer .nav-bottom li:first-child {
  /*             padding: 10px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px; */
}
.cd-footer .nav-bottom li:first-child .home-icon img {
  width: 23px;
  height: 20px;
}
.cd-footer li {
  width: 24%;
  /*         padding: 10px; */
  float: left;
  text-align: center;
}
.cd-footer li span {
  font-size: 1.2rem;
}

/* viewRecord */
.view-wrapper .view-heading {
  padding: 10px;
}
.view-wrapper .view-heading .view-date {
  font-size: 1.8rem;
  font-weight: bold;
  color: #505050;
  padding-right: 5px;
  display: table-cell;
  vertical-align: middle;
}
.view-wrapper .view-heading .viewCount {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid #a0a0a0;
}
.view-wrapper .view-day {
  background-color: #fff;
}
.view-wrapper .view-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0;
}
.view-wrapper .view-item .proPhoto {
  overflow: hidden;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border: 1px solid #EDEDED;
  display: table-cell;
  vertical-align: middle;
}
.view-wrapper .view-item .proPhoto img {
  height: 100%;
}
.view-wrapper .view-item .privatCont {
  overflow: hidden;
  margin-left: 5%;
  padding-left: 5%;
  line-height: 1.7;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.view-wrapper .view-item .privatCont .goodsName {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.view-wrapper .view-item .privatCont .old-price {
  color: #03b8d5;
  font-size: 1.6rem;
}
.view-wrapper .view-item .privatCont .new-price {
  color: #e50101;
  font-size: 1.2rem;
}

.coupon-search {
  background-color: rgba(0, 0, 0, 0.4);
  display: table;
  position: fixed;
  top: 0;
  max-width: 640px;
}
.coupon-search .cd2-search-icon {
  background-color: rgba(0, 0, 0, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  padding: 8px;
  display: table-cell;
}
.coupon-search .cd2-search-icon img {
  width: 25px;
}
.coupon-search form {
  display: table-cell;
  width: 100%;
}
.coupon-search form div.cd2-search-box {
  padding: 10px;
}
.coupon-search form div.cd2-search-box input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
}

.couponCenter-wrapper .coupon-orderList {
  position: relative;
  width: 100%;
}
.couponCenter-wrapper .fixNav {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 100;
}
.couponCenter-wrapper .fixNav.fix-statu {
  overflow: visible;
}
.couponCenter-wrapper .fixNav li.btn {
  padding: 0 0;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
}
.couponCenter-wrapper .fixNav li.btn .order-arrow {
  position: relative;
  width: 8px;
  height: 8px;
  display: inline-block;
}
.couponCenter-wrapper .fixNav li.btn a.nav-order,
.couponCenter-wrapper .fixNav li.btn a.filter-btn {
  padding: 10px 0;
}
.couponCenter-wrapper .fixNav a:focus,
.couponCenter-wrapper .fixNav a:hover {
  color: #525252;
}
.couponCenter-wrapper .fixNav .selected {
  color: #ed2d2d !important;
}
.couponCenter-wrapper .fixNav .selected .nav-order span {
  color: #ed2d2d;
}
.couponCenter-wrapper .fixNav .hasOrder .order-arrow:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #b0b0b0;
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 10;
}
.couponCenter-wrapper .fixNav .defOrder .order-arrow:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #ed2d2d;
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 10;
}
.couponCenter-wrapper .fixNav .rowOrder .order-arrow:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #ed2d2d;
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 10;
}
.couponCenter-wrapper .fixNav .btn i {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem；;
}
.couponCenter-wrapper .coupon-lump {
  color: #fff;
  overflow: hidden;
  padding: 10px 0 10px 5px;
}
.couponCenter-wrapper .coupon-lump .coupon-view {
  overflow: hidden;
  width: 48%;
  background: url(../images/member/point/acCoupon-bg_03.png) left center no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  float: left;
  margin: 0 2% 2% 0;
  overflow: hidden;
  padding-top: 5px;
}
.couponCenter-wrapper .coupon-lump .coupon-view.coupon-nomore, .couponCenter-wrapper .coupon-lump .coupon-view.coupon-done {
  background: url(../images/member/point/acCoupon-bg_08.png) left center no-repeat !important;
  background-size: 100% 100%;
  position: relative;
}
.couponCenter-wrapper .coupon-lump .coupon-view.coupon-nomore:after, .couponCenter-wrapper .coupon-lump .coupon-view.coupon-done:after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  top: 6px;
  right: 6px;
  background: url(../images/member/point/cp-state1_12.png) no-repeat;
  background-size: 100%;
}
.couponCenter-wrapper .coupon-lump .coupon-view.coupon-done:after {
  background: url(../images/member/point/cp-state2.png) no-repeat;
  background-size: 100%;
}
.couponCenter-wrapper .coupon-lump .coupon-last {
  background: url(../images/member/point/acCoupon-bg_06.png) left center no-repeat;
  background-size: 100% 100%;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param1 {
  display: table;
  width: 100%;
  padding: 5px 15px 5px 15px;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param1 div {
  display: table-cell;
  vertical-align: middle;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param1 .item1 {
  font-size: 2.5rem;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param1 em {
  font-size: 1.3rem;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param1 .item2 {
  text-align: right;
  position: relative;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param1 .item2:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #fff;
  position: absolute;
  top: 12px;
  right: -8px;
  z-index: 50;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param1 .item {
  width: 100%;
  text-align: right;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param2 {
  text-align: center;
  padding: 5px;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param2 .item1 {
  display: block;
  font-size: 1.2rem;
}
.couponCenter-wrapper .coupon-lump .coupon-info .coupon-param2 .item-time {
  font-size: 1.2rem;
}
.couponCenter-wrapper .amount-list {
  position: absolute;
  left: 0;
  top: 44px;
  display: none;
  z-index: 200;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.couponCenter-wrapper .amount-list li {
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 0;
  color: #525252;
}
.couponCenter-wrapper .filter-list {
  position: absolute;
  left: 0;
  top: 44px;
  z-index: 200;
  width: 100%;
  text-align: center;
  background-color: #fff;
  display: none;
}
.couponCenter-wrapper .filter-list ul {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: scroll;
  height: 200px;
}
.couponCenter-wrapper .filter-list li {
  width: 50%;
  text-align: left;
  float: left;
  font-size: 1.3rem;
  padding: 5px 0;
}
.couponCenter-wrapper .filter-list li label {
  position: relative;
}
.couponCenter-wrapper .filter-list li label .orderinfo_right {
  margin-left: 25px;
}
.couponCenter-wrapper .filter-list li font {
  color: #525252;
}
.couponCenter-wrapper .filter-list li input.category-class:checked + label > em.techcheck {
  background-position: -23px 3px;
}
.couponCenter-wrapper .filter-list .action-operate {
  text-align: right;
  padding: 10px 10px;
}
.couponCenter-wrapper .filter-list .action-operate a {
  padding: 6px 20px;
}
.couponCenter-wrapper .filter-list .action-operate .btn-op1 {
  border: 1px solid #717171;
  margin-right: 5px;
}
.couponCenter-wrapper .filter-list .action-operate .btn-op2 {
  border: 1px solid #ff7e02;
  color: #fff;
  background-color: #ff7e02;
}
.couponCenter-wrapper .filter-list .techcheck {
  position: absolute;
  left: 0;
  top: -5px;
  background: url(../images/member/point/check-class.png) no-repeat;
  background-position: 0 3px;
  background-size: 45px;
  width: 22px;
  height: 28px;
  float: right;
}

.receive-success, .receive-used {
  padding: 10px 15px;
  text-align: center;
  position: relative;
  color: #fff;
}
.receive-success .check-true, .receive-used .check-true {
  width: 60px;
  height: 60px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.receive-success span, .receive-used span {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.receive-success .btn-white, .receive-used .btn-white {
  background-color: #fff;
  color: #434343;
  width: 40%;
  margin: 10px;
  font-size: 1.2rem;
}
.receive-success .btn-blue, .receive-used .btn-blue {
  background-color: #3b85ff;
  color: #fff;
  width: 40%;
  margin: 10px;
  font-size: 1.2rem;
}
.receive-success .close-btn, .receive-used .close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.receive-success .close-btn img, .receive-used .close-btn img {
  width: 20px;
  height: 20px;
}

.receive-used .btn-white {
  width: 100%;
  margin: 15px 0;
}

/* select-foot 全选项项*/
.select-foot .shopping-total {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  z-index: 1000;
}
.select-foot .shopping-total .shopping-operation div {
  display: inline-block;
  color: #fff;
}
.select-foot .shopping-total .shopping-operation .delBtn a {
  background-color: #03b8d5;
}
.select-foot .shopping-total .shopping-operation .cartBtn a,
.select-foot .shopping-total .shopping-operation .delAll a {
  background-color: #f9bc19;
}
.select-foot .viewName-select .total-box {
  width: auto;
  display: inline-block;
  line-height: 34px;
}

/* propd-rt 子选项右侧位移 */
.offset-area .lumpBox, .offset-area .view-item {
  position: relative;
}
.offset-area .propd-rt {
  padding-left: 0;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.offset-area .propd-rt.in {
  padding-left: 40px;
}
.offset-area .proRadius {
  display: none;
}
.offset-area .proRadius {
  background: url(../images/icon-gray/circle-check2.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: table-cell;
  position: absolute;
  top: 45px;
  left: 0px;
  z-index: 100;
}
.offset-area .proRadius.pro-selected {
  background-position: -30px 0;
}
.offset-area.offset-out .proRadius {
  display: none;
}

.shop-pageHeading {
  background-color: initial;
  padding: 10px 0;
  border-bottom: 0;
}
.shop-pageHeading .con-lt, .shop-pageHeading .con-rt {
  display: inline-block;
}
.shop-pageHeading .con-lt .favorNum,
.shop-pageHeading .con-lt .favorStore {
  color: #ee3535;
}
.shop-pageHeading .con-rt .lump-stateEdit,
.shop-pageHeading .con-rt .lump-store-stateEdit {
  line-height: inherit;
  color: #03b8d5;
  font-size: 1.4rem;
}

.view-wrapper .edit-heading {
  background-color: #fff;
  text-align: center;
  font-size: 1.8rem;
  display: none;
  border-bottom: 1px solid #ddd;
}
.view-wrapper .shop-pageHeading {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: fixed;
  padding: 0 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 1000;
}
.view-wrapper .shop-pageHeading .container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}
.view-wrapper .offset-area {
  margin-top: 42px;
}

/*# sourceMappingURL=member.css.map */
