@charset "UTF-8";
/* mentellLists */
.menteel-bg {
  height: auto;
  width: auto;
  background: url(../images/lib/img/view-bg0.jpg) repeat-y;
  background-size: 100%;
}

.menteel-lists {
  padding: 10px 0;
  overflow: hidden;
}
.menteel-lists .meteel-item {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 0 5px 10px 0;
  margin-bottom: 20px;
  margin-left: 5px;
}
.menteel-lists .meteel-lump {
  display: table;
  background: url(../images/lib/mentee/head-frame.png) no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  color: #fff;
}
.menteel-lists .meteel-lump .proPhoto {
  display: table-cell;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  min-width: 80px;
  position: relative;
}
.menteel-lists .meteel-lump .proPhoto:before {
  content: '';
  position: absolute;
  top: 0px;
  left: -5px;
  background: url(../images/lib/mentee/orangePin.png) no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.menteel-lists .meteel-lump .proPhoto img {
  border-radius: 6px;
  border: 2px solid #046a76;
}
.menteel-lists .meteel-lump .privatCont {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 10px;
}
.menteel-lists .meteel-lump .privatCont dt {
  font-size: 1.6rem;
  position: relative;
}
.menteel-lists .meteel-lump .privatCont dt span {
  position: relative;
  padding-bottom: 15px;
  display: inline-block;
}
.menteel-lists .meteel-lump .privatCont dt span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background: url(../images/lib/mentee/line1.jpg) no-repeat;
  background-size: 100% 100%;
}
.menteel-lists .meteel-lump .privatCont dd {
  font-size: 1.2rem;
}

/* mentellLists */
.btnplay i {
  color: #ff7800;
}

.menteel-mainList .artist-song {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 10px 10px 100px !important;
  margin-bottom: 5px;
  height: 97px !important;
  font-size: 1.4rem !important;
}
.menteel-mainList .artist-song:before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  background: url(../images/lib/mentee/songList.png) no-repeat;
  width: 20px;
  height: 25px;
  background-size: 100% 100%;
}
.menteel-mainList .theme-img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 10px;
  top: 10px;
}
.menteel-mainList .theme-img img {
  border-radius: 6px;
}
.menteel-mainList .song-cont {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.menteel-mainList .song-cont h3 {
  color: #007386;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  display: inline-block;
  white-space: nowrap;
  max-width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .menteel-mainList .song-cont h3 {
    max-width: 150px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 568px) and (orientation: portrait) {
  .menteel-mainList .song-cont h3 {
    max-width: 200px;
  }
}
.menteel-mainList .song-cont p {
  color: #000;
  padding-left: 8px;
}
.menteel-mainList .btnplay {
  display: table-cell;
  vertical-align: middle;
  max-width: 50px;
  text-align: center;
}
.menteel-mainList .btnplay.frmPause span {
  background-color: rgba(0, 0, 0, 0.8);
}
.menteel-mainList .btnplay.frmPause span i {
  color: white;
}
.menteel-mainList .btnplay span {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  border: 2px solid #f5ba8a;
  -moz-box-shadow: 0 0 3px #f5ba8a;
  -webkit-box-shadow: 0 0 3px #f5ba8a;
  box-shadow: 0 0 3px #f5ba8a;
  zoom: 1;
  display: block;
}
.menteel-mainList .btnplay i {
  display: inline-block;
  margin: 3px -2px 0 0;
}
.menteel-mainList .btnplay:focus, .menteel-mainList .btnplay:hover, .menteel-mainList .btnplay:active, .menteel-mainList .btnplay:visited {
  outline: 0;
}
.menteel-mainList .btnplay.on span {
  background-color: rgba(0, 0, 0, 0.8);
}
.menteel-mainList .btnplay.on span i {
  color: white;
}

/*music control*/
header, #menu, #footer, #playwrap {
  position: fixed;
  width: 100%;
  left: 0;
  overflow: hidden;
}

header {
  height: 35px;
  top: 0;
  z-index: 1000;
  background: none repeat scroll 0 0 #F4F4F4;
}

#menu {
  height: 36px;
  top: 35px;
  z-index: 1000;
  background: -webkit-linear-gradient(left, #69A3D4 0%, #4888BE 100%);
  background: -moz-linear-gradient(left center, #69A3D4 0%, #4888BE 100%) repeat scroll 0 0 transparent;
  background: #4888BE;
}

.menu_tagList {
  color: #fff;
  line-height: 35px;
  font-size: 16px;
}

.menu_tagList li {
  text-align: center;
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-right: 1px solid #4F80AB;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.menu_hover {
  background: url(../images/hoverbg.png) 0 0 no-repeat;
  background-size: 100%;
}

.h_logo {
  color: #69A3D3;
  float: left;
  font-size: 20px;
  width: 250px;
  margin: 5px 0 0 10px;
  font-weight: 400;
}

#content {
  padding: 0 0;
  width: 100%;
}

#content li {
  border-bottom: 1px solid #CCC;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  /* overflow: hidden; */
  padding: 0 0 0 10px;
}

.picStyle {
  height: 35px;
  width: 35px;
  margin: 4px 8px 0px 3px;
}

.textBox {
  font-size: 14px;
  color: #1E1E1E;
  margin-top: 2px;
}

.textBox p {
  color: #787878;
  font-size: 12px;
  white-space: nowrap;
}

#playwrap {
  background: #E28F52;
  color: #fff;
  bottom: 0;
  font-family: Microsoft YaHei;
  height: 70px;
  text-align: center;
  z-index: 1000;
}

#playContent {
  height: 70px;
  margin: 0 auto;
  width: 320px;
}

#progressWrap {
  background: none repeat scroll 0 0 #FFC8A0;
  height: 3px;
  margin: 3px 0 0 10px;
  width: 298px;
  cursor: pointer;
}

#progress {
  background: none repeat scroll 0 0 #FFFFFF;
  height: 3px;
  width: 0;
}

.img {
  box-shadow: 0 0 5px #FFC8A0;
  float: left;
  height: 47px;
  margin: 8px 0 0 15px;
  width: 47px;
}

.img img {
  border: 1px solid #FFC8A0;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.info {
  float: left;
  width: 240px;
}

.control {
  margin: 2px 0 0;
  text-align: left;
}

.audioControl a.last {
  background: url("../plugin/music/images/bg3.png") no-repeat scroll -5px -108px transparent;
}

.audioControl a {
  display: inline-block;
  height: 30px;
  margin: 0 0 0 8px;
  width: 30px;
}

.audioControl a.pause {
  background: url("../plugin/music/images/bg3.png") no-repeat scroll -4px -75px transparent;
}

.audioControl a.play {
  background: url("../plugin/music/images/bg3.png") no-repeat scroll -4px -144px transparent;
}

.audioControl a.next {
  background: url("../plugin/music/images/bg3.png") no-repeat scroll -7px -183px transparent;
}

#modeButton {
  background-image: url("../plugin/music/images/bg3.png");
  background-repeat: no-repeat;
  margin-left: 16px;
  width: 35px;
}

.audioControl a.mode-default {
  background-position: -6px -328px;
}

.audioControl a.mode-random {
  background-position: -6px -224px;
}

.audioControl a.mode-single {
  background-position: -6px -292px;
}

#songname {
  color: #FFFFFF;
  float: left;
  background: red;
  font-size: 14px;
  margin: 4px 0 0 12px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 220px;
}

#timeshow {
  color: #FFFFFF;
  float: right;
  font-size: 14px;
}

#musicTitle {
  float: left;
  margin: 3px 0 0 15px;
  width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

#oWindow {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  background: -moz-linear-gradient(left center, #69A3D4 0%, #4888BE 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(left, #69A3D4 0%, #4888BE 100%);
  background: #4888BE;
  color: #fff;
  padding: 13px 20px;
  font-size: 16px;
}

/* 学员风采 */
.mentee-mien {
  background: url(../images/lib/img/meetee-bg_01.jpg) repeat 0 0;
  background-size: 100% 100%;
}

.mentee-heading {
  margin: 10px 0;
}
.mentee-heading h3 {
  color: #000;
  font-size: 1.6rem;
  margin: 0;
}
.mentee-heading span {
  color: #696969;
  font-size: 1.2rem;
}

.meetee-recommend {
  background: url(../images/lib/img/meetee-box-bg_03.png) repeat 0 0;
  margin-bottom: 20px;
  position: relative;
}
.meetee-recommend.label-gallery:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/lechen/label-g.png) no-repeat 0 0;
  background-size: 100% 100%;
  z-index: 300;
}
.meetee-recommend .meetee-lump {
  background: url(../images/lib/img/meetee-box1.png) no-repeat 0 0, url(../images/lib/img/meetee-box3.png) no-repeat left bottom;
  background-size: 100%;
  padding: 12px 0;
  position: relative;
  z-index: 150;
}
.meetee-recommend .meetee-inner {
  background: url(../images/lib/img/meetee-box2.png) repeat 0 0;
  background-size: 100% 100%;
  padding: 5px 15px;
}
.meetee-recommend .meetee-inner ul {
  overflow: hidden;
  margin-bottom: 0;
}
.meetee-recommend .meetee-inner li a {
  position: relative;
}
.meetee-recommend .meetee-lists1 {
  width: 100%;
  height: 150px;
}
.meetee-recommend .meetee-lists1 li {
  width: 30%;
  height: 48%;
  float: left;
}
.meetee-recommend .meetee-lists1 li a {
  width: 100%;
  height: 100%;
}
.meetee-recommend .meetee-lists1 li img {
  height: 100%;
}
.meetee-recommend .meetee-lists1 li:last-child a:first-child {
  margin-bottom: 8%;
}
.meetee-recommend .meetee-lists1 li:first-child {
  width: 68%;
  height: 100%;
  margin-right: 2%;
}
.meetee-recommend .meetee-lists1 li:first-child .play-btn {
  width: 60px;
  height: 60px;
}
.meetee-recommend .meetee-lists2 li {
  width: 33.33%;
  float: left;
  padding: 0 1px;
}
.meetee-recommend .meetee-lists2 li a, .meetee-recommend .meetee-lists2 li img {
  width: 100%;
  height: 100%;
}
.meetee-recommend .meetee-lists2 li:nth-of-type(2) a {
  height: 48%;
}
.meetee-recommend .meetee-lists2 li:nth-of-type(2) a:first-child {
  margin-bottom: 4%;
}
.meetee-recommend .play-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=menteePage.css.map */
