@charset "UTF-8";
/* orderConfirm */
.order-confirm-wrapper .detail-top {
  font-size: 1.6rem;
  background-color: #fff;
  border-bottom: 1px solid #b3b3b3;
  background: url(../images/yjmall/address_bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 10px;
}
.order-confirm-wrapper .detail-top a {
  position: relative;
}
.order-confirm-wrapper .shipping-box {
  background: url(../images/yjmall/address_bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 15px;
  color: #000;
  font-family: 黑体;
}
.order-confirm-wrapper .shipping-box .icon-heading-arrow {
  padding-right: 0;
}
.order-confirm-wrapper .shipping-box ul {
  margin-bottom: 0;
  line-height: 2rem;
  display: block;
}
.order-confirm-wrapper .shipping-box li.stateText .state-item {
  display: inline-block;
}
.order-confirm-wrapper .shipping-box li.stateText .state-item:first-child {
  margin-right: 15px;
}
.order-confirm-wrapper .shipping-box li.stateText .state-item font {
  float: left;
}
.order-confirm-wrapper .shipping-box li.stateText .state-item em {
  font-family: 黑体;
  margin-left: 6px;
  float: left;
}
.order-confirm-wrapper .shipping-box li.stateText.stateLocation {
  display: block;
}
.order-confirm-wrapper .shipping-box li.stateText.stateLocation font {
  display: inline-block;
  padding-right: 8px;
}
.order-confirm-wrapper .shipping-box li.stateText.stateLocation span {
  overflow: hidden;
  display: inline-block;
  letter-spacing: 1px;
}
.order-confirm-wrapper .shipping-box li.stateText.stateLocation .state_l {
  float: initial;
  display: table-cell;
}
.order-confirm-wrapper .shipping-box li.stateText.stateLocation em {
  float: initial;
  display: table-cell;
}
.order-confirm-wrapper .shipping-box .state_l img {
  width: auto;
  margin-bottom: 4px;
}
.order-confirm-wrapper .shipping-box .icon-heading-arrow {
  background: none;
}
.order-confirm-wrapper .detail-info .detail-heading {
  padding: 10px 15px;
  position: relative;
  font-size: 1.6rem;
  border-bottom: 1px solid #e5e5e5;
}
.order-confirm-wrapper .detail-infoLists .store_title {
  white-space: nowrap;
  padding: 10px 10px 10px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
.order-confirm-wrapper .detail-infoLists .store_title .order-left {
  display: inline-block;
  line-height: 25px;
}
.order-confirm-wrapper .detail-infoLists .store_title .order-left img {
  width: 15px;
  height: 16px;
  margin-right: 5px;
}
.order-confirm-wrapper .detail-infoLists .store_title .order-detailRight {
  display: inline-block;
}
.order-confirm-wrapper .detail-infoLists .store_title .order-detailRight a {
  height: auto;
  padding-right: 0;
}
.order-confirm-wrapper .detail-infoLists .store_title .order-detailRight img {
  width: 15px;
  height: 23px;
  margin: 0 0 2px 5px;
}
.order-confirm-wrapper .detail-infoLists .detail-gather {
  margin-bottom: 10px;
  background-color: #fff;
}
.order-confirm-wrapper .detail-infoLists .detail-gather:last-child .goods-item:last-child {
  border-bottom: 0;
}
.order-confirm-wrapper .detail-infoLists .goods_state {
  padding-bottom: 5px;
  padding: 0 15px;
}
.order-confirm-wrapper .detail-infoLists .goods-item {
  padding: 15px 0px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}
.order-confirm-wrapper .detail-infoLists .goods-item .proPhoto {
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
  min-width: 100px;
  width: 100px;
  height: 100px;
}
.order-confirm-wrapper .detail-infoLists .goods-item .proPhoto img {
  border: 1px solid #e5e5e5;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  margin-left: 5%;
  padding-left: 3%;
  line-height: 1.7;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont li {
  line-height: 1.8rem;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont li.model {
  color: #333;
  font-size: 1.6rem;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont li.countNum em {
  font-size: 1.4rem;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont li.countPrice .goods_old-price {
  float: left;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont li.countPrice .goods_old-price em {
  color: #03b8d5;
  font-size: 2rem;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont li.countPrice .goods_new-price {
  color: #e50101;
  font-size: 1.2rem;
  float: left;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont .stateTitle {
  color: #333;
  min-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 1.4rem;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont .goods_option {
  color: #B9B9B9;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.order-confirm-wrapper .detail-infoLists .goods-item .privatCont i {
  font-size: 1.6rem;
  padding-right: 2px;
}
.order-confirm-wrapper .xt-show-more {
  background-color: #f0efed;
  text-align: center;
  position: relative;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.order-confirm-wrapper .xt-show-more i {
  position: relative;
  left: 5px;
  top: 3px;
  cursor: pointer;
}
.order-confirm-wrapper .xt-show-more.xt-show-out i {
  left: 7px;
  top: 1px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.order-confirm-wrapper .detail-box .detail-gather {
  margin-bottom: 10px;
}
.order-confirm-wrapper .detail-box .orderHeading {
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.5rem;
}
.order-confirm-wrapper .detail-box .orderHeading div {
  display: inline-block;
}
.order-confirm-wrapper .detail-box .orderHeading a {
  position: relative;
  padding-right: 15px;
  height: 20px;
}
.order-confirm-wrapper .detail-box .order-detailRight {
  color: #03b8d5;
}
.order-confirm-wrapper .detail-box .order-detailRight .specialDesc {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  font-size: 1.2rem;
  line-height: 21px;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.order-confirm-wrapper .detail-box .order-detailRight .ft-gray {
  color: #b3b3b3;
}
.order-confirm-wrapper .detail-box .order-local {
  color: inherit;
}
.order-confirm-wrapper .detail-box .detail-option .detail-item-total {
  position: relative;
  overflow: hidden;
  text-align: right;
  padding: 10px 10px;
}
.order-confirm-wrapper .detail-box .detail-option .detail-item-total dd {
  line-height: 2rem;
}
.order-confirm-wrapper .detail-box .detail-option .detail-item-total dd:first-child div {
  display: inline-block;
}
.order-confirm-wrapper .detail-box .detail-option .detail-item-total .detail-item-num {
  margin-right: 5px;
}
.order-confirm-wrapper .detail-box .detail-option .detail-item-total .goods_old-price em {
  color: #03b8d5;
  font-size: 1.6rem;
  font-weight: bold;
}
.order-confirm-wrapper .detail-box .detail-option .detail-item-total .goods_new-price {
  color: #e50101;
  font-size: 1.2rem;
}
.order-confirm-wrapper .detail-box .detail-item1 div {
  display: inline-block;
}
.order-confirm-wrapper .detail-box .item4 label {
  width: 100%;
}
.order-confirm-wrapper .detail-box .itemMessage a {
  width: 100%;
  height: auto;
  display: table;
}
.order-confirm-wrapper .detail-box .itemMessage div,
.order-confirm-wrapper .detail-box .itemMessage textarea {
  display: table-cell;
  vertical-align: top;
}
.order-confirm-wrapper .detail-box .itemMessage textarea {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 3px;
}
.order-confirm-wrapper .detail-box .integrate-info {
  padding: 10px 15px;
  overflow: hidden;
}
.order-confirm-wrapper .detail-box .integrate-info dd {
  font-size: 1.2rem;
  color: #5c5c5c;
  white-space: nowrap;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  padding-left: 0;
}
.order-confirm-wrapper .detail-box .integrate-info dd input {
  margin-top: 0;
}
.order-confirm-wrapper .detail-box .integrate-info dd .m-point {
  color: #ff7a34;
}
.order-confirm-wrapper .detail-box .integrate-info dd:last-child {
  text-decoration: underline;
}
.order-confirm-wrapper .detail-box .data-gather {
  display: table;
  width: 100%;
}
.order-confirm-wrapper .detail-box .data-gather .data-left {
  display: table-cell;
  vertical-align: top;
}
.order-confirm-wrapper .detail-box .data-gather textarea {
  padding: 5px;
  width: 100%;
  border-radius: 4px;
}
.order-confirm-wrapper .detail-pay {
  text-align: center;
  background-color: #fff;
  padding: 5px 15px 20px 15px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}
.order-confirm-wrapper .detail-pay .detail-total {
  font-size: 1.6rem;
}
.order-confirm-wrapper .detail-pay em {
  color: #03b8d5;
  font-size: 1.8rem;
}
.order-confirm-wrapper .detail-pay em i {
  font-size: 1.6rem;
  padding-right: 2px;
}
.order-confirm-wrapper .detail-pay .btn {
  color: #fff;
}
.order-confirm-wrapper .detail-pay .btn-1 {
  background-color: #72bb09;
}
.order-confirm-wrapper .detail-pay .btn-2 {
  background-color: #e4255f;
}
.order-confirm-wrapper .detail-pay .btn-3 {
  background-color: #0ca9c0;
}
.order-confirm-wrapper .detail-box .intergrate-info {
  background-color: #fff;
}
.order-confirm-wrapper .detail-box .intergrate-info dd {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
.order-confirm-wrapper .detail-box .intergrate-info .order-lt {
  width: 80%;
  display: inline-block;
}
.order-confirm-wrapper .detail-box .intergrate-info .order-explain {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: underline;
  color: #6c6c6c;
}
.order-confirm-wrapper .detail-box .intergrate-info .order-switch {
  position: absolute;
  right: 0;
  top: 11px;
  display: inline-block;
  border: 1px solid #E6E6E6;
}
.order-confirm-wrapper .detail-box .intergrate-info .tgl + .tgl-btn {
  width: 3.5em;
  height: 2em;
}
.order-confirm-wrapper .detail-box .intergrate-info .tgl-general + .tgl-btn {
  padding: 1px;
}
.order-confirm-wrapper .detail-box .intergrate-info .tgl + .tgl-btn:after,
.order-confirm-wrapper .detail-box .intergrate-info .tgl + .tgl-btn:before {
  width: 55%;
  height: 100%;
}
.order-confirm-wrapper .detail-box .intergrate-info .tgl:checked + .tgl-btn:after {
  left: 45%;
}
.order-confirm-wrapper .detail-box .intergrate-info .order-point {
  padding: 10px 0;
  display: table;
  width: 100%;
  vertical-align: middle;
  display: none;
}
.order-confirm-wrapper .detail-box .intergrate-info .order-point .point em {
  color: #ff0000;
}
.order-confirm-wrapper .detail-box .intergrate-info .xt-amount {
  position: absolute;
  top: 4px;
  right: 0;
}
.order-confirm-wrapper .detail-box .intergrate-info .xt-amount .xCount .xcount-item {
  border: 1px solid #ddd;
  width: 35px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.order-confirm-wrapper .detail-box .intergrate-info .xt-amount .xCount .xCount-num {
  border-left: 0;
  border-right: 0;
  background-color: #fff;
}
.order-confirm-wrapper .detail-box .intergrate-info .xt-amount .xCount .xCount-minus,
.order-confirm-wrapper .detail-box .intergrate-info .xt-amount .xCount .xCount-plus {
  background-color: #eeeeee;
  font-size: 2.2rem;
  color: #959595;
}
.order-confirm-wrapper .detail-box .intergrate-info .xt-amount .xCount .xCount-amount {
  display: table-cell;
  vertical-align: middle;
  width: 35px;
  height: 30px;
  text-align: center;
}
.order-confirm-wrapper .pay-footer {
  background-color: #fff;
}
.order-confirm-wrapper .pay-footer .state-total {
  float: left;
  width: 65%;
  padding: 5px 0;
}
.order-confirm-wrapper .pay-footer .state-total dl {
  text-align: right;
}
.order-confirm-wrapper .pay-footer .state-total dd {
  font-size: 1.5rem;
  color: #121212;
}
.order-confirm-wrapper .pay-footer .state-total dd:first-child div {
  display: inline-block;
}
.order-confirm-wrapper .pay-footer .state-total .detail-item-num {
  margin-right: 5px;
}
.order-confirm-wrapper .pay-footer .state-total .goods_old-price em {
  color: #03b8d5;
  color: #03b8d5;
  font-size: 1.5rem;
}
.order-confirm-wrapper .pay-footer .state-total .goods_new-price {
  color: #e50101;
  font-size: 1.2rem;
}
.order-confirm-wrapper .pay-footer .state-order {
  float: right;
  width: 30%;
}
.order-confirm-wrapper .pay-footer .state-order a {
  width: 100%;
  background-color: #f9bc19;
  color: #fff;
  border-radius: 0;
  padding: 14px 25%;
}
.order-confirm-wrapper .pay-footer .state-order a:focus, .order-confirm-wrapper .pay-footer .state-order a:active, .order-confirm-wrapper .pay-footer .state-order a:hover, .order-confirm-wrapper .pay-footer .state-order a:visited {
  color: #fff !important;
}
.order-confirm-wrapper .right-directory {
  bottom: 100px;
}
.order-confirm-wrapper #scrollTop {
  bottom: 110px !important;
}

/* order-opMode */
.order-confirm-wrapper .disTime li {
  padding: 10px 10px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.order-confirm-wrapper .disTime li.active {
  background-color: #f9bc19;
  color: #fff;
}

/* orderInvoice */
.orderInvoice-wrapper .order-title,
.order-confirm-wrapper .order-title {
  font-size: 1.5rem;
  padding: 10px 0;
  border-bottom: 0;
  font-weight: bold;
}
.orderInvoice-wrapper .order-info,
.order-confirm-wrapper .order-info {
  padding: 0 10px;
  background-color: #fff;
  border-bottom: none;
}
.orderInvoice-wrapper .order-info:last-child,
.order-confirm-wrapper .order-info:last-child {
  border: none !important;
}
.orderInvoice-wrapper .order-info .order-item,
.order-confirm-wrapper .order-info .order-item {
  padding: 0 0;
}
.orderInvoice-wrapper .order-info .order-item .order-list .orderinfo_left,
.order-confirm-wrapper .order-info .order-item .order-list .orderinfo_left {
  padding-left: 25px;
}
.orderInvoice-wrapper .detail-box,
.order-confirm-wrapper .detail-box {
  border: none;
}
.orderInvoice-wrapper .order-list,
.order-confirm-wrapper .order-list {
  padding-top: 0;
}
.orderInvoice-wrapper .order-list li,
.order-confirm-wrapper .order-list li {
  border-top: 1px solid #e5e5e5;
  line-height: 3rem;
  padding: 5px 0;
  padding-right: 10px;
  position: relative;
}
.orderInvoice-wrapper .order-list li input.payLabel:checked + label > em.techcheck,
.order-confirm-wrapper .order-list li input.payLabel:checked + label > em.techcheck {
  background-position: -23px 3px;
}
.orderInvoice-wrapper .order-list label,
.order-confirm-wrapper .order-list label {
  width: 100%;
  position: relative;
}
.orderInvoice-wrapper .order-list label em,
.order-confirm-wrapper .order-list label em {
  position: absolute;
  left: 0;
  top: 5px;
  background: url(../images/icon-gray/xt-radio-check.png) no-repeat;
  background-position: 0 3px;
  background-size: 45px;
  width: 22px;
  height: 28px;
  float: right;
}
.orderInvoice-wrapper ul.order-message,
.order-confirm-wrapper ul.order-message {
  padding-bottom: 0;
}
.orderInvoice-wrapper ul.order-message .mode-desc,
.order-confirm-wrapper ul.order-message .mode-desc {
  width: 100%;
  display: table;
}
.orderInvoice-wrapper ul.order-message .mode-desc .mode-text,
.order-confirm-wrapper ul.order-message .mode-desc .mode-text {
  display: table-cell;
}
.orderInvoice-wrapper ul.order-message .mode-desc .form-mode,
.order-confirm-wrapper ul.order-message .mode-desc .form-mode {
  display: table-cell;
  width: 100%;
}
.orderInvoice-wrapper .detail-submit,
.order-confirm-wrapper .detail-submit {
  position: relative;
  width: 100%;
  background: #f9bc19;
  /*             text-align: center;
      position: fixed;
      bottom: 0;
      left:0;
      width: 100%;
      background-color: #fff;
      padding: 10px 0 20px 0; */
}
.orderInvoice-wrapper .detail-submit a,
.order-confirm-wrapper .detail-submit a {
  padding: 15px 10px;
  color: #fff;
  width: 100%;
}
.orderInvoice-wrapper .detail-submit a:hover, .orderInvoice-wrapper .detail-submit a:focus, .orderInvoice-wrapper .detail-submit a:active, .orderInvoice-wrapper .detail-submit a:visited,
.order-confirm-wrapper .detail-submit a:hover,
.order-confirm-wrapper .detail-submit a:focus,
.order-confirm-wrapper .detail-submit a:active,
.order-confirm-wrapper .detail-submit a:visited {
  color: #fff !important;
}
.orderInvoice-wrapper .order-info,
.order-confirm-wrapper .order-info {
  border-top: none;
}
.orderInvoice-wrapper .order-info .order-send li,
.order-confirm-wrapper .order-info .order-send li {
  border-top: 1px solid #e5e5e5;
  line-height: 3rem;
  padding: 5px 10% 0 25%;
  padding-right: 10px;
  position: relative;
}
.orderInvoice-wrapper .order-info .order-send li input.sendLabel:checked + label > em.techcheck,
.order-confirm-wrapper .order-info .order-send li input.sendLabel:checked + label > em.techcheck {
  background-position: -23px 3px;
}
.orderInvoice-wrapper .order-info .order-send label,
.order-confirm-wrapper .order-info .order-send label {
  width: 100%;
  position: relative;
}
.orderInvoice-wrapper .order-info .order-send label em,
.order-confirm-wrapper .order-info .order-send label em {
  position: absolute;
  left: 0;
  top: 5px;
  background: url(../images/icon-gray/xt-radio-check.png) no-repeat;
  background-position: 0 3px;
  background-size: 45px;
  width: 22px;
  height: 28px;
  float: right;
}
.orderInvoice-wrapper .order-info .order-send label font,
.order-confirm-wrapper .order-info .order-send label font {
  padding-left: 25px;
}
.orderInvoice-wrapper .order-info .order-send b,
.order-confirm-wrapper .order-info .order-send b {
  font-weight: normal;
  font-size: 1.2rem;
  color: #909090;
  margin-left: 5px;
}
.orderInvoice-wrapper .coupon-wrapper,
.order-confirm-wrapper .coupon-wrapper {
  padding: 10px 0 5px;
  background-color: #f0efed;
}
.orderInvoice-wrapper .coupon-wrapper li,
.order-confirm-wrapper .coupon-wrapper li {
  width: 100%;
  padding: 10px;
  background-size: 100% 100%;
  min-height: 125px;
  color: #fff;
  margin-bottom: 20px;
}
.orderInvoice-wrapper .coupon-wrapper li label,
.order-confirm-wrapper .coupon-wrapper li label {
  width: 100%;
  position: relative;
}
.orderInvoice-wrapper .coupon-wrapper li .couponCount,
.order-confirm-wrapper .coupon-wrapper li .couponCount {
  display: table;
  width: 50%;
  margin: 0 auto;
}
.orderInvoice-wrapper .coupon-wrapper li .couponCount img,
.order-confirm-wrapper .coupon-wrapper li .couponCount img {
  display: table-cell;
  vertical-align: middle;
  width: 75px;
  text-align: center;
}
.orderInvoice-wrapper .coupon-wrapper li .couponCount span,
.order-confirm-wrapper .coupon-wrapper li .couponCount span {
  display: table-cell;
  font-size: 6rem;
  line-height: 4rem;
  vertical-align: middle;
  text-align: center;
}
.orderInvoice-wrapper .coupon-wrapper li .couponCount span sup,
.order-confirm-wrapper .coupon-wrapper li .couponCount span sup {
  font-size: 3rem;
}
.orderInvoice-wrapper .coupon-wrapper li .coupon-info,
.order-confirm-wrapper .coupon-wrapper li .coupon-info {
  height: 110px;
  position: relative;
}
.orderInvoice-wrapper .coupon-wrapper li .coupon-info .coupon-name,
.order-confirm-wrapper .coupon-wrapper li .coupon-info .coupon-name {
  color: #B9292B;
  font-size: 1.2rem;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-heading p,
.order-confirm-wrapper .coupon-wrapper .coupon-heading p {
  color: #787878;
  font-size: 1.3rem;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-title img,
.order-confirm-wrapper .coupon-wrapper .coupon-title img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.orderInvoice-wrapper .coupon-wrapper .couponList,
.order-confirm-wrapper .coupon-wrapper .couponList {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 10px;
}
.orderInvoice-wrapper .coupon-wrapper .couponList .coupon-top,
.order-confirm-wrapper .coupon-wrapper .couponList .coupon-top {
  font-size: 1.6rem;
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-bottom,
.order-confirm-wrapper .coupon-wrapper .coupon-bottom {
  position: absolute;
  width: 100%;
  bottom: -8px;
  color: #f8f0f0;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-bottom div,
.order-confirm-wrapper .coupon-wrapper .coupon-bottom div {
  display: inline-block;
  font-size: 1.2rem;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-old-text,
.order-confirm-wrapper .coupon-wrapper .coupon-old-text {
  text-align: center;
  color: #b0b0b0;
  position: relative;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-old-text:before,
.order-confirm-wrapper .coupon-wrapper .coupon-old-text:before {
  content: '';
  position: absolute;
  width: 32%;
  height: .5px;
  top: 19px;
  left: 0;
  background-color: #d7d7d7;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-old-text:after,
.order-confirm-wrapper .coupon-wrapper .coupon-old-text:after {
  content: '';
  position: absolute;
  width: 32%;
  height: .5px;
  top: 19px;
  right: 0;
  background-color: #d7d7d7;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-submit,
.order-confirm-wrapper .coupon-wrapper .coupon-submit {
  text-align: center;
  background-color: #fff;
  padding: 10px;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-submit a,
.order-confirm-wrapper .coupon-wrapper .coupon-submit a {
  width: 48%;
  padding: 10px;
  margin: 0 auto;
  background-color: #03b8d5;
  color: #fff;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-submit a:hover, .orderInvoice-wrapper .coupon-wrapper .coupon-submit a:focus, .orderInvoice-wrapper .coupon-wrapper .coupon-submit a:active, .orderInvoice-wrapper .coupon-wrapper .coupon-submit a:focus,
.order-confirm-wrapper .coupon-wrapper .coupon-submit a:hover,
.order-confirm-wrapper .coupon-wrapper .coupon-submit a:focus,
.order-confirm-wrapper .coupon-wrapper .coupon-submit a:active,
.order-confirm-wrapper .coupon-wrapper .coupon-submit a:focus {
  color: #fff !important;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-submit a:first-child,
.order-confirm-wrapper .coupon-wrapper .coupon-submit a:first-child {
  margin-right: 2%;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-submit .opbtn1,
.order-confirm-wrapper .coupon-wrapper .coupon-submit .opbtn1 {
  background-color: #ccc;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-able li,
.order-confirm-wrapper .coupon-wrapper .coupon-able li {
  background: url(../images/yjmall/coupon-state_03.png) no-repeat;
  background-size: 100% 100%;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-able li input:checked + label em,
.order-confirm-wrapper .coupon-wrapper .coupon-able li input:checked + label em {
  background-position: -27px 0;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-able .couponCheck,
.order-confirm-wrapper .coupon-wrapper .coupon-able .couponCheck {
  position: absolute;
  right: 0;
  top: -3px;
  background: url(../images/yjmall/coupon-check.png) no-repeat;
  background-position: 0 0;
  background-size: 55px;
  width: 27px;
  height: 28px;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-expire li,
.order-confirm-wrapper .coupon-wrapper .coupon-expire li {
  background: url(../images/yjmall/coupon-state_05.png) no-repeat;
  background-size: 100% 100%;
}
.orderInvoice-wrapper .coupon-wrapper .coupon-expire .coupon-name,
.order-confirm-wrapper .coupon-wrapper .coupon-expire .coupon-name {
  color: #797979 !important;
}

.bottomOut {
  display: block;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: translateY(0%);
}

.logistics-wrapper1 {
  /*     .order-info[data-me="3"]{
          border-bottom:1px solid 
      } */
}
.logistics-wrapper1 .order-info:last-child {
  border: none;
}
.logistics-wrapper1 .order-info:not(:first-child) .order-item {
  padding-left: 30px;
}
.logistics-wrapper1 .order-info.status .order-item {
  padding-bottom: 0;
  padding-right: 0;
}
.logistics-wrapper1 .order-title {
  font-size: 1.6rem;
  padding: 10px 15px 8px;
  margin-bottom: 0;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.logistics-wrapper1 .order-title img.heading-pre {
  width: 15px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 3px;
}
.logistics-wrapper1 .order-title .orderStatus {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #03b8d5;
}
.logistics-wrapper1 .order-item {
  background-color: #fff;
  padding: 10px 15px 10px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}
.logistics-wrapper1 .order-item li {
  line-height: 2.5rem;
  white-space: nowrap;
  display: block;
}
.logistics-wrapper1 .order-item li .orderinfo_left,
.logistics-wrapper1 .order-item li .order_confirm {
  padding-right: 15px;
}
.logistics-wrapper1 .order-item li span,
.logistics-wrapper1 .order-item li font {
  display: inline-block;
}
.logistics-wrapper1 .order-item .order-state {
  text-align: center;
  padding: 10px;
}
.logistics-wrapper1 .order-item .order-state span {
  color: #03b8d5 !important;
}
.logistics-wrapper1 .order-item .order-list {
  width: 75%;
  font-size: 1.5rem;
  display: inline-block;
  float: left;
}
.logistics-wrapper1 .order-item .order-list .orderStatus {
  color: #ee0707;
}
.logistics-wrapper1 .order-item .logistics-time {
  width: 25%;
  display: inline-block;
  float: left;
}
.logistics-wrapper1 .site-catelog {
  height: auto;
}
.logistics-wrapper1 .site-catelog dd.catelog-heading {
  position: relative;
  font-size: 1.2rem;
  font-weight: normal;
  padding-right: 0;
  background: none;
}
.logistics-wrapper1 .site-catelog dd.catelog-heading:last-child .stateText > a {
  border-bottom: none;
}
.logistics-wrapper1 .site-catelog dd.catelog-heading em.pointer {
  background: url(../images/yjmall/icon-point.png) no-repeat;
  background-size: cover;
  position: absolute;
  width: 7px;
  height: 7px;
  left: -3px;
  top: -3px;
}
.logistics-wrapper1 .site-catelog dd.catelog-heading.current .pointer {
  background: url(../images/yjmall/pointer_cur.png) no-repeat;
  background-size: 100%;
  top: -2px;
  left: -7px;
  width: 15px;
  height: 15px;
}
.logistics-wrapper1 .site-catelog dd.catelog-heading.current .pointer:after {
  content: '';
  position: absolute;
  width: 38px;
  height: 15px;
  background: url(../images/yjmall/pointer_toolkit.png) top right no-repeat;
  background-size: 100%;
  top: 0;
  left: 20px;
}
.logistics-wrapper1 .site-catelog .side-bar {
  height: 100%;
  background-color: #e5e5e5;
  border-top: 0;
  border-bottom: 0;
}
.logistics-wrapper1 .site-catelog .side-bar .start.current {
  background: url(../images/yjmall/pointer_cur.png) no-repeat;
  background-size: 100%;
  top: -2px;
  left: -7px;
  width: 15px;
  height: 15px;
}

/* confirm-log */
.confirm-order .site-catelog {
  position: relative;
  left: 0;
}
.confirm-order .side-bar {
  position: absolute;
  top: 0;
  width: 1px;
  height: 80px;
  background-color: #29dffc;
  border-top: 0;
  border-bottom: 0;
}
.confirm-order .side-bar .start.current {
  background: url(../images/lhxy/pointer_cur.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: -2px;
  left: -7px;
  width: 15px;
  height: 15px;
}
.confirm-order .catelog-heading {
  position: absolute;
  right: 0%;
  background: url(../images/lhxy/grey-arrow.png) no-repeat right;
  background-size: 7px;
  padding-right: 20px;
  width: 100%;
}
.confirm-order .catelog-heading.current .stateText > a {
  color: #ee0707;
}
.confirm-order .catelog-heading.current .stateText > a:hover, .confirm-order .catelog-heading.current .stateText > a:focus, .confirm-order .catelog-heading.current .stateText > a:active {
  color: #bc0606 !important;
}
.confirm-order .catelog-heading.current .stateText .order-date {
  margin-top: 8px;
}
.confirm-order .catelog-heading .stateText a {
  position: relative;
  margin-left: 20px;
  padding: 10px 0;
  line-height: 1.5rem;
  border-bottom: 1px solid #e5e5e5;
}
.confirm-order .catelog-heading .stateText b {
  font-weight: normal;
}
.confirm-order .catelog-heading .order-date {
  display: block;
}

.order-address dl.order-mg-address1 {
  margin-bottom: 0;
  padding: 10px 0;
  overflow: hidden;
  color: #000;
}
.order-address dl.order-mg-address1 dt {
  float: left;
  font-weight: normal;
  overflow: hidden;
  display: inline-block;
  width: 60%;
  padding-right: 5px;
}
.order-address dl.order-mg-address1 dd {
  width: 40%;
  text-align: right;
  /* min-width: 75px; */
  display: inline-block;
  white-space: nowrap;
}

/* order-detail */
.order-detail-wrapper .orderHeading {
  background-color: #f0822b;
  color: #fff;
  display: table;
  width: 100%;
}
.order-detail-wrapper .orderHeading .order-state {
  display: table-cell;
  vertical-align: middle;
}
.order-detail-wrapper .orderHeading .order-identity {
  display: table-cell;
  width: 40px;
}
.order-detail-wrapper .shipping {
  margin-bottom: 8px;
}
.order-detail-wrapper .shipping-box {
  background: url(../images/yjmall/address_bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 15px;
  color: #000;
  font-family: 黑体;
}
.order-detail-wrapper .shipping-box ul {
  margin-bottom: 0;
  line-height: 2rem;
  display: block;
}
.order-detail-wrapper .shipping-box li.stateText .state-item {
  display: inline-block;
}
.order-detail-wrapper .shipping-box li.stateText .state-item:first-child {
  margin-right: 15px;
}
.order-detail-wrapper .shipping-box li.stateText .state-item em {
  font-family: 黑体;
  margin-left: 6px;
}
.order-detail-wrapper .shipping-box li.stateText.stateLocation {
  display: block;
}
.order-detail-wrapper .shipping-box li.stateText.stateLocation font {
  display: inline-block;
  padding-right: 8px;
}
.order-detail-wrapper .shipping-box li.stateText.stateLocation span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 80%;
  letter-spacing: 1px;
}
.order-detail-wrapper .shipping-box .state_l img {
  width: auto;
  margin-bottom: 4px;
}
.order-detail-wrapper .shipping-box .icon-heading-arrow {
  background: none;
}
.order-detail-wrapper .detail-gather {
  margin-bottom: 10px;
}
.order-detail-wrapper .detail-gather .detail-message {
  padding: 10px 15px;
}
.order-detail-wrapper .store_title {
  white-space: nowrap;
  padding: 10px 10px 10px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  background-color: #fff;
}
.order-detail-wrapper .store_title .order-left {
  display: inline-block;
  line-height: 25px;
  color: #000;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-detail-wrapper .store_title .order-left a {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-detail-wrapper .store_title .order-left img {
  width: 15px;
  height: 16px;
  margin-right: 5px;
}
.order-detail-wrapper .store_title .order-text {
  max-width: 30%;
  overflow: hidden;
}
.order-detail-wrapper .store_title .order-text a.btn {
  border: 1px solid #ed6f1a;
  color: #ed6f1a;
  border-radius: 0;
  padding: 4px 6px;
  font-size: 1.2rem;
}
.order-detail-wrapper .store_title .order-text a.btn:focus, .order-detail-wrapper .store_title .order-text a.btn:hover, .order-detail-wrapper .store_title .order-text a.btn:active, .order-detail-wrapper .store_title .order-text a.btn:visited {
  color: #ed6f1a !important;
}
.order-detail-wrapper .store_title .order-text .store-addr img {
  width: 15px;
  height: 23px;
  margin: 0 0 2px 5px;
}
.order-detail-wrapper .goods_state {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.order-detail-wrapper .goods_state .refund-btn {
  border: 1px solid #ed6f1a;
  color: #ed6f1a;
  border-radius: 0;
  padding: 4px 6px;
  font-size: 1.2rem;
}
.order-detail-wrapper .goods_state .refund-btn:focus, .order-detail-wrapper .goods_state .refund-btn:hover, .order-detail-wrapper .goods_state .refund-btn:active, .order-detail-wrapper .goods_state .refund-btn:visited {
  color: #ed6f1a !important;
}
.order-detail-wrapper .goods-item {
  padding-top: 10px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}
.order-detail-wrapper .goods-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.order-detail-wrapper .goods-item .proPhoto {
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
  min-width: 100px;
  width: 100px;
  height: 100px;
}
.order-detail-wrapper .goods-item .proPhoto img {
  border: 1px solid #e5e5e5;
}
.order-detail-wrapper .goods-item .privatCont {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  margin-left: 5%;
  padding-left: 10px;
  line-height: 1.7;
}
.order-detail-wrapper .goods-item .privatCont li {
  line-height: 1.8rem;
  overflow: hidden;
}
.order-detail-wrapper .goods-item .privatCont i {
  font-size: 1.6rem;
  padding-right: 2px;
}
.order-detail-wrapper .goods-item .privatCont .goods_name {
  color: #000;
  height: 41px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.order-detail-wrapper .goods-item .privatCont .goods_option {
  color: #B9B9B9;
  font-size: 1.2rem;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.order-detail-wrapper .goods-item .privatCont .goods_option span {
  margin-right: 5px;
}
.order-detail-wrapper .goods-item .privatCont .goods_price {
  color: #000;
  font-size: 1.2rem;
}
.order-detail-wrapper .goods-item .privatCont .goods_price em {
  font-size: 1.6rem;
}
.order-detail-wrapper .load-more {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.order-detail-wrapper .load-more span {
  position: relative;
  padding-right: 20px;
}
.order-detail-wrapper .detail-message dl div {
  display: inline-block;
  line-height: 18px;
}
.order-detail-wrapper .detail-message .order-left {
  color: #b9b9b9;
  font-size: 1.2rem;
}
.order-detail-wrapper .detail-message .order-detailRight {
  color: #000;
  font-size: 1.3rem;
}
.order-detail-wrapper .detail-message .order-detailRight.finally-price {
  color: #ed6f1a;
  font-weight: bold;
}
.order-detail-wrapper .view-stream {
  position: relative;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #697d91;
  padding: 5px 0;
}
.order-detail-wrapper .nav-view {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}
.order-detail-wrapper .nav-view .nav-item {
  width: 50%;
  float: left;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  color: #697d91;
}
.order-detail-wrapper .nav-view .nav-item:last-child a {
  border-left: 1px solid #c9c9c9;
}
.order-detail-wrapper .nav-view .nav-item img {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
}
.order-detail-wrapper .order-action {
  background: #fff;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  text-align: right;
}
.order-detail-wrapper .order-action a {
  padding: 3px 5px;
  border: 1px solid #e5e5e5;
  font-size: 1.3rem;
  color: #656565;
}
.order-detail-wrapper .order-action a.btn-op3 {
  color: #ed6f1a;
  border-color: #ed6f1a;
}
.order-detail-wrapper .order-action a.btn-op3:focus, .order-detail-wrapper .order-action a.btn-op3:hover, .order-detail-wrapper .order-action a.btn-op3:active, .order-detail-wrapper .order-action a.btn-op3:visited {
  color: #ed6f1a !important;
}
.order-detail-wrapper .order-action a:not(:last-child) {
  margin-right: 3px;
}

/* orderRefund */
.orderRefund-wrapper {
  padding: 15px 10px 20px;
}
.orderRefund-wrapper .refund-item {
  padding: 5px 0;
  position: relative;
}
.orderRefund-wrapper .refund-item label {
  color: #000;
}
.orderRefund-wrapper .refund-item input {
  font-size: 1.2rem;
  padding-left: 10px;
}
.orderRefund-wrapper .refund-item .xt-more {
  color: #c7c7c7;
  font-size: 1.2rem;
}
.orderRefund-wrapper .refund-amount {
  line-height: 2.5rem;
}
.orderRefund-wrapper .goods_state {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.orderRefund-wrapper .goods_state .refund-btn {
  border: 1px solid #ed6f1a;
  color: #ed6f1a;
  border-radius: 0;
  padding: 4px 6px;
  font-size: 1.2rem;
}
.orderRefund-wrapper .goods_state .refund-btn:focus, .orderRefund-wrapper .goods_state .refund-btn:hover, .orderRefund-wrapper .goods_state .refund-btn:active, .orderRefund-wrapper .goods_state .refund-btn:visited {
  color: #ed6f1a !important;
}
.orderRefund-wrapper .goods-item {
  padding-top: 10px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}
.orderRefund-wrapper .goods-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.orderRefund-wrapper .goods-item .proPhoto {
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
  min-width: 80px;
  width: 80px;
  height: 80px;
}
.orderRefund-wrapper .goods-item .proPhoto img {
  border: 1px solid #e5e5e5;
}
.orderRefund-wrapper .goods-item .privatCont {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  margin-left: 5%;
  padding-left: 10px;
  line-height: 1.7;
}
.orderRefund-wrapper .goods-item .privatCont li {
  line-height: 1.8rem;
  overflow: hidden;
}
.orderRefund-wrapper .goods-item .privatCont i {
  font-size: 1.6rem;
  padding-right: 2px;
}
.orderRefund-wrapper .goods-item .privatCont .goods_name {
  color: #000;
  height: 41px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.orderRefund-wrapper .goods-item .privatCont .goods_option {
  color: #B9B9B9;
  font-size: 1.2rem;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.orderRefund-wrapper .goods-item .privatCont .goods_option span {
  margin-right: 5px;
}
.orderRefund-wrapper .goods-item .privatCont .goods_price {
  color: #000;
  font-size: 1.2rem;
}
.orderRefund-wrapper .goods-item .privatCont .goods_price em {
  font-size: 1.6rem;
}
.orderRefund-wrapper .refund-img {
  padding: 10px 0;
}
.orderRefund-wrapper .refund-img .file-zone {
  border: 1px dashed #c7c7c7;
  border-radius: 6px;
  padding: 6px 10px;
  text-align: right;
  color: #c7c7c7;
  font-size: 1.2rem;
  background: url(../images/icon-gray/detail-camera.png) 10px center no-repeat;
  background-size: 25px;
}
.orderRefund-wrapper .refund-img .file-img {
  overflow: hidden;
  margin: 10px 0;
}
.orderRefund-wrapper .refund-img .file-img li {
  float: left;
  padding: 0 10px 10px 0;
  position: relative;
}
.orderRefund-wrapper .refund-img .file-img li img {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
}
.orderRefund-wrapper .refund-img .file-img li .close-con {
  position: absolute;
  top: -5px;
  right: 8px;
  font-size: 2rem;
  z-index: 100;
}
.orderRefund-wrapper .submitBtn {
  width: 100%;
  margin-top: 10px;
  background-color: #d02525;
  color: #fff;
}
.orderRefund-wrapper .submitBtn:hover, .orderRefund-wrapper .submitBtn:focus, .orderRefund-wrapper .submitBtn:active, .orderRefund-wrapper .submitBtn:visited {
  color: #fff !important;
}
.orderRefund-wrapper .refund-explain {
  color: #667a8e;
  color: #667a8e;
  line-height: 1.8rem;
  padding: 15px 0;
}

/* payStatus */
.payStatus-wrapper .top-heading {
  position: relative;
  margin-bottom: 20px;
}
.payStatus-wrapper .top-heading .payText {
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}
.payStatus-wrapper .nav-view {
  background-color: #fff;
  overflow: hidden;
}
.payStatus-wrapper .nav-view .nav-item {
  width: 50%;
  float: left;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  color: #697d91;
}
.payStatus-wrapper .nav-view .nav-item:last-child a {
  border-left: 1px solid #c9c9c9;
}
.payStatus-wrapper .nav-view .nav-item img {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
}

/* no-record  */
.no-no_record_03 {
  /*     background-color: red; */
  margin: auto;
  background-image: url(/member/no-s5f61c51fd0.png);
  background-position: 0 -358px;
  height: 121px;
  width: 125px;
  background: url(../images/member/no-s5f61c51fd0.png) no-repeat;
  background-size: 260px;
}

.no-no_record_01 {
  margin: auto;
  margin-top: 150px;
  background-image: url(/member/no-s5f61c51fd0.png);
  height: 116px;
  width: 240px;
  background: url(../images/member/no-s5f61c51fd0.png) no-repeat;
  background-position: 0 0;
  background-size: inherit;
}

.no-no_record_02 {
  margin: auto;
  margin-top: 150px;
  background-image: url(/member/no-s5f61c51fd0.png);
  height: 232px;
  width: 243px;
  background: url(../images/member/no-s5f61c51fd0.png) no-repeat;
  background-position: 0 -121px;
  background-size: inherit;
}

.no-no_record_03 {
  margin: auto;
  margin-top: 150px;
  background-image: url(/member/no-s5f61c51fd0.png);
  height: 121px;
  width: 125px;
  background: url(../images/member/no-s5f61c51fd0.png) no-repeat;
  background-position: 0 -358px;
  background-size: inherit;
}

.no-no_record_04 {
  margin: auto;
  margin-top: 150px;
  background-image: url(/member/no-s5f61c51fd0.png);
  height: 126px;
  width: 125px;
  background: url(../images/member/no-s5f61c51fd0.png) no-repeat;
  background-position: 0 -484px;
  background-size: inherit;
}

.no-no_record_05 {
  margin: auto;
  margin-top: 150px;
  background-image: url(/member/no-s5f61c51fd0.png);
  height: 138px;
  width: 125px;
  background: url(../images/member/no-s5f61c51fd0.png) no-repeat;
  background-position: 0 -615px;
  background-size: inherit;
}

.no-no_record_06 {
  margin: auto;
  margin-top: 150px;
  background-image: url(/member/no-s5f61c51fd0.png);
  height: 118px;
  width: 125px;
  background: url(../images/member/no-s5f61c51fd0.png) no-repeat;
  background-position: 0 -758px;
  background-size: inherit;
}

/*# sourceMappingURL=order.css.map */
