@charset "UTF-8";
/* xt-personal mix */
/* index */
.lechen-lattice {
  background: url(../images/lechen/index_bg_02.png) repeat-y;
  background-size: 100% 100%;
}
.lechen-lattice .le-top {
  position: relative;
  z-index: 200;
}

.index_wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 110px;
  max-width: 640px;
  margin: 0 auto;
  z-index: 100;
}
.index_wrapper .le-content {
  background: url(../images/lechen/index_bg_04.png) repeat-y;
  background-size: 100% 100%;
  position: relative;
}
.index_wrapper .le-content .le-lump {
  background-size: 100%;
  padding: 5px;
  position: relative;
  z-index: 150;
}
.index_wrapper .le-content .le-heading {
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40%;
}
.index_wrapper .le-content .le-heading .le-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
}
.index_wrapper .le-content .le-lists {
  margin-bottom: 0;
}
.index_wrapper .le-content .le-lists li {
  width: 100%;
  height: 70px;
  margin: -33px auto 0;
  position: relative;
}
.index_wrapper .le-content .le-lists li a {
  text-indent: -999rem;
  padding: 0 30px;
}
.index_wrapper .le-content .le-lists li:nth-child(even) a {
  float: left;
}
.index_wrapper .le-content .le-lists li:nth-child(odd) a {
  float: right;
}
.index_wrapper .le-content .le-lists .item-bg1 {
  background: url(../images/lechen/img/bg1.png) no-repeat;
  background-size: 100%;
}
.index_wrapper .le-content .le-lists .item-bg2 {
  background: url(../images/lechen/img/bg2.png) no-repeat;
  background-size: 100%;
}
.index_wrapper .le-content .le-lists .item-bg3 {
  background: url(../images/lechen/img/bg3.png) no-repeat;
  background-size: 100%;
}
.index_wrapper .le-content .le-lists .item-bg4 {
  background: url(../images/lechen/img/bg4.png) no-repeat;
  background-size: 100%;
}
.index_wrapper .le-content .le-lists .item-bg5 {
  background: url(../images/lechen/img/bg5.png) no-repeat;
  background-size: 100%;
}
.index_wrapper .le-content .le-lists .item-bg6 {
  background: url(../images/lechen/img/bg6.png) no-repeat;
  background-size: 100%;
}
.index_wrapper .le-content .le-lists .item-bg1 {
  width: 78%;
}
.index_wrapper .le-content .le-lists .item-bg2 {
  width: 82%;
}
.index_wrapper .le-content .le-lists .item-bg3 {
  width: 86%;
}
.index_wrapper .le-content .le-lists .item-bg4 {
  width: 90%;
}
.index_wrapper .le-content .le-lists .item-bg5 {
  width: 94%;
}
.index_wrapper .le-content .le-lists .item-bg6 {
  width: 98%;
}
.index_wrapper .le-content .le-lists .item-bg1 {
  z-index: 100;
}
.index_wrapper .le-content .le-lists .item-bg2 {
  z-index: 101;
}
.index_wrapper .le-content .le-lists .item-bg3 {
  z-index: 102;
}
.index_wrapper .le-content .le-lists .item-bg4 {
  z-index: 103;
}
.index_wrapper .le-content .le-lists .item-bg5 {
  z-index: 104;
}
.index_wrapper .le-content .le-lists .item-bg6 {
  z-index: 105;
}
.index_wrapper .le-foot {
  z-index: 200;
  background: url(../images/lechen/lc_food_02.png) no-repeat;
  background-size: 100% 100%;
  height: 150px;
  position: absolute;
  bottom: -110px;
  left: 0;
  right: 0;
}
.index_wrapper .le-foot span {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #34163e;
  font-weight: bold;
}

/* img-bg */
/* 音频试听 */
.listen-wrapper {
  margin: 10px 0;
}

.listen-bg {
  background: url(../images/lib/img/view-bg.jpg) no-repeat;
  background-size: 100% 100%;
}

.audition-lists li {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 10px 10px 100px;
  margin-bottom: 8px;
}
.audition-lists li:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  background: url(../images/lib/view/orange-play-icon.png) no-repeat;
  background-size: 100% 100%;
  width: 110px;
  height: 6px;
}
.audition-lists .proPhoto {
  width: 120px;
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 60px;
  left: 10px;
  top: 10px;
}
.audition-lists .proPhoto .theme-img {
  width: 60px;
  height: 60px;
  position: relative;
}
.audition-lists .proPhoto .theme-img .artist-img {
  position: relative;
  z-index: 10;
}
.audition-lists .proPhoto .theme-img .play-cd {
  position: absolute;
  top: 0;
  right: -50%;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.audition-lists .proPhoto .theme-img .play-round-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../images/lib/view/orange-play.png) no-repeat;
  background-size: 100%;
  z-index: 50;
}
.audition-lists .privatCont .btnplay {
  color: #ff7800;
  display: table-cell;
  vertical-align: middle;
  max-width: 50px;
  text-align: center;
}
.audition-lists .privatCont .btnplay i {
  font-size: 2rem;
}
.audition-lists .privatCont .btnplay em {
  display: block;
  white-space: nowrap;
}
.audition-lists .privatCont .listen-cont {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 20px;
}
.audition-lists .privatCont .listen-cont h3 {
  color: #404040;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  display: inline-block;
  white-space: nowrap;
  max-width: 150px;
  margin-top: 10px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .audition-lists .privatCont .listen-cont h3 {
    max-width: 150px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 568px) and (orientation: portrait) {
  .audition-lists .privatCont .listen-cont h3 {
    max-width: 200px;
  }
}
.audition-lists .privatCont .listen-cont p {
  color: #898989;
  font-size: 1.2rem;
}

/* listen-view */
.linstenView ul.lisetenView-box {
  margin: 10px 0 4% 4%;
}
.linstenView ul.lisetenView-box li {
  width: 46%;
  float: left;
  margin: 0 4% 4% 0;
  border-radius: 4px;
  -moz-box-shadow: 1px 1px 5px #4A4A4A;
  -webkit-box-shadow: 1px 1px 5px #4A4A4A;
  box-shadow: 1px 1px 5px #4A4A4A;
}
.linstenView ul.lisetenView-box li .circle-outer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: relative;
}
.linstenView ul.lisetenView-box li .circle-outer .circle-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 200;
}
.linstenView ul.lisetenView-box li .circle-outer .circle-btn i {
  color: #ff7800;
  font-size: 3rem;
}
.linstenView ul.lisetenView-box li .circle-inner {
  border-radius: 100%;
  border: 1px solid #cda783;
  padding: 10px;
  position: relative;
  z-index: 100;
}
.linstenView ul.lisetenView-box li .circle-inner img {
  border-radius: 100%;
  border: 1px solid #cda783;
}
.linstenView ul.lisetenView-box li .circle-inner:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  background: url(../images/lib/view/circle-inner.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.linstenView ul.lisetenView-box li .song-name {
  text-align: center;
  background-color: #b17a5a;
  color: #fff;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
}
.linstenView ul.lisetenView-box li .song-name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 0 5px;
}

/* 活动 */
.activity-wrapper .applink-zoom ul {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 0;
}
.activity-wrapper .applink-zoom .recomment-item {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.activity-wrapper .applink-zoom .recomment-item:nth-of-type(2) {
  margin: 0 5px;
}
.activity-wrapper .applink-zoom .recomment-item.slogan1:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -3px;
  width: 65px;
  height: 25px;
  background: url(../images/lechen/images/slogan.png) no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
.activity-wrapper .applink-zoom .recomment-item.slogan2:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -3px;
  width: 65px;
  height: 25px;
  background: url(../images/lechen/images/slogan.png) no-repeat;
  background-size: 100%;
  background-position: 0 -27px;
}
.activity-wrapper .applink-zoom .recomment-item.slogan3:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -3px;
  width: 65px;
  height: 25px;
  background: url(../images/lechen/images/slogan.png) no-repeat;
  background-size: 100%;
  background-position: 0 -54px;
}
.activity-wrapper .present-activety .present-heading {
  color: #a0a0a0;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 5px 10px;
}
.activity-wrapper .present-activety .present-item {
  display: table;
  width: 100%;
}
.activity-wrapper .present-activety .proPhoto {
  width: 80px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  min-width: 80px;
}
.activity-wrapper .present-activety .privatCont {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 10px;
}
.activity-wrapper .present-activety .privatCont dt {
  color: #4e4e4e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .activity-wrapper .present-activety .privatCont dt {
    max-width: 200px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 568px) and (orientation: portrait) {
  .activity-wrapper .present-activety .privatCont dt {
    max-width: 250px;
  }
}
.activity-wrapper .present-activety .privatCont dd {
  color: #b7b7b7;
}
.activity-wrapper .present-activety .privatCont .preview-cont {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.article-wrapper .detail-title {
  margin: 10px 0;
}
.article-wrapper .detail-title .detail-area {
  background: url(../images/lib/course/course_textbg_01.png) no-repeat 0 0, url(../images/lib/course/course_textbg_03.png) no-repeat left bottom;
  background-size: 100%;
  padding: 15px 0 10px;
}
.article-wrapper .detail-title .detail-lump {
  background: url(../images/lib/course/course_textbg_02.png) repeat-y;
  background-size: 100%;
  padding: 5px 15px 0;
}
.article-wrapper .detail-title .detail-lump h3 {
  color: #404040;
  font-size: 1.5rem;
}
.article-wrapper .detail-title .detail-lump time {
  color: #a2a2a2;
  padding: 5px 0;
  line-height: 2rem;
}
.article-wrapper .detail-cont {
  line-height: 2rem;
}
.article-wrapper .detail-cont img {
  padding: 10px 0;
}
.article-wrapper .mainPage {
  z-index: 100;
}
.article-wrapper .confirm-enroll-btn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 25px;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  background: #fff;
  z-index: 1000;
}
.article-wrapper .confirm-enroll-btn a {
  background: url(../images/lib/course/course-btn-confirm.png) no-repeat left bottom;
  background-size: 100% 100%;
  background-color: #fff;
  margin: 10px 0;
  height: 50px;
}
.article-wrapper .pb-standard {
  padding-bottom: 80px;
}
.article-wrapper .storePage .detail-lump h3 {
  padding: 5px 0;
  margin: 0;
  font-weight: bold;
}
.article-wrapper .storePage .detail-lump span {
  color: #a2a2a2;
  padding: 5px 0;
  line-height: 1rem;
  font-size: 1.2rem;
}

/* music-play */
.xt-music-wrapper {
  background: url(../images/lib/view/view-play-bg.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.xt-music-wrapper .listen-cd-box .inner-img {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 35px auto 10px;
  background: url(../images/lib/view/view-outer-cd.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.xt-music-wrapper .listen-cd-box .inner-img img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  width: 50%;
  height: 50%;
}
.xt-music-wrapper .play-cd input {
  display: none;
}
.xt-music-wrapper .start:checked ~ .listen-cd-box .inner-img {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.xt-music-wrapper .stop:checked ~ .listen-cd-box .inner-img {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.xt-music-wrapper .reset:checked ~ .listen-cd-box .inner-img {
  animation: rotate 25s linear 0s normal none infinite;
  -webkit-animation: rotate 25s linear 0s normal none infinite;
}
.xt-music-wrapper .play-running {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.xt-music-wrapper .play-pausing {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.wave-pic {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.music-player {
  position: relative;
  width: 100%;
  height: 240px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.music-player img {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  display: block;
  width: 100% !important;
  height: 100% !important;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.music-player .timeFormat {
  text-align: center;
  color: #ff7800;
  margin-bottom: 10px;
}
.music-player .timeFormat div {
  display: inline-block;
  font-size: 1.3rem;
}
.music-player .info {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0 10px;
}
.music-player .info .jp-playlist li {
  display: none;
}
.music-player .info .jp-playlist li a {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  color: rgba(225, 225, 225, 0.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.music-player .info .jp-playlist li a span {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
.music-player .info .jp-playlist li.jp-playlist-current {
  display: block;
}
.music-player .info .jp-playlist li .jp-free-media, .music-player .info .jp-playlist li .jp-playlist-item-remove {
  display: none;
}
.music-player .info .left {
  width: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.music-player .info .right {
  width: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
  left: auto;
  right: 30px;
}
.music-player .info [class^="icon-"] {
  margin: 0 0 10px;
}
.music-player .progress, .music-player .volume-level {
  width: 100%;
  height: 5px;
  display: block;
  background: #c8b6b0;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  overflow: initial;
}
.music-player .progress span, .music-player .volume-level span {
  position: relative;
  display: block;
  background: #f28c33;
  width: 0%;
  height: 5px;
}
.music-player .progress span:after, .music-player .volume-level span:after {
  position: absolute;
  right: -5px;
  top: -5px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../images/lib/view/wave-progress.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.music-player .controls {
  text-align: center;
  width: 100%;
  height: 190px;
}
.music-player .controls .current {
  padding: 15px 0 20px;
  color: #ff7800;
  font-size: 1.2rem;
}
.music-player .controls .play-controls a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px;
  color: #fff;
}
.music-player .controls .play-controls a:hover, .music-player .controls .play-controls a:focus, .music-player .controls .play-controls a:active, .music-player .controls .play-controls a:visited {
  color: #fff !important;
}
.music-player .controls .play-controls a i {
  font-size: 3.5rem;
}
.music-player .controls .play-controls a.jp-play i {
  font-size: 5rem;
}
.music-player .controls .play-controls a.jp-pause i {
  font-size: 3.6em;
}
.music-player .controls .lb-center {
  width: 50px;
  height: 71px;
}

.cdPlay {
  animation: rotate 25s linear 0s normal none infinite;
  -webkit-animation: rotate 25s linear 0s normal none infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .index_wrapper {
    bottom: 40px;
  }

  .xt-music-wrapper .inner-img {
    width: 200px !important;
    height: 200px !important;
  }
  .xt-music-wrapper .music-player {
    height: 220px !important;
  }
}
@media only screen and (min-device-width: 400px) {
  .xt-music-wrapper .inner-img {
    width: 300px !important;
    height: 300px !important;
  }
  .xt-music-wrapper .music-player {
    height: 280px !important;
  }
}

/*# sourceMappingURL=web.css.map */
