@charset "utf-8";
@import "compass/css3";
@import "compass/layout/stretching";
$fontPrice:#03b8d5;
$themeColor:#03b8d5;

/* mentellLists */
.menteel-bg{
    height:auto;
    width:auto;
    background:url(../images/lib/img/view-bg0.jpg) repeat-y;
    background-size:100%;
}
.menteel-lists{
    padding:10px 0;
    overflow:hidden;
    .meteel-item{
        background-color: rgba(0,0,0,.6);
        border-radius: 8px;
        padding: 0 5px 10px 0;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    .meteel-lump{
        display:table;
        background: url(../images/lib/mentee/head-frame.png) no-repeat;
        background-size: 100% 100%;
        padding: 20px;
        color:#fff;
        .proPhoto{
            display:table-cell;
            vertical-align: middle;
            width: 80px;
            height: 80px;
            min-width: 80px;
            position:relative;
            &:before{
                content: '';
                position: absolute;
                top: 0px;
                left: -5px;
                background: url(../images/lib/mentee/orangePin.png) no-repeat;
                background-size: 100%;
                width: 20px;
                height: 20px;

            }
            img{
                border-radius: 6px;
                border: 2px solid #046a76;
            }
        }
        .privatCont{
            display:table-cell;
            vertical-align: middle;
            width:100%;
            padding-left:10px;
            dt{
                font-size:1.6rem;
                position:relative;
                
                span{
                    position:relative;
                    padding-bottom:15px;
                    display: inline-block;
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 14px;
                        background: url(../images/lib/mentee/line1.jpg) no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            dd{
                font-size:1.2rem;
            }
        }
    }
}

/* mentellLists */
.btnplay{
    i{
        color:#ff7800;
    }
}

.menteel-mainList{
    .artist-song{
        position:relative;
        background-color: rgba(255,255,255,.75);
        padding: 10px 10px 10px 100px;
        margin-bottom: 5px;
        &:before{
            content: '';
            position: absolute;
            top: -12px;
            left: 0;
            background: url(../images/lib/mentee/songList.png) no-repeat;
            width: 20px;
            height: 25px;
            background-size: 100% 100%;
        }
    }
    .theme-img{
        position:absolute;
        width:80px;
        height:80px;
        left:10px;
        top:10px;
        img{
            border-radius:6px;
        }
    }
    .song-cont{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        h3{
            color:#007386;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size:1.6rem;
            display: inline-block;
            white-space: nowrap;
            max-width: 150px;
            margin-top: 10px;
            margin-bottom: 20px;
            @media only screen 
            and (min-device-width : 320px) 
            and (max-device-width : 568px) 
            and (orientation : portrait) { 
            max-width:150px;
            }
            @media only screen 
            and (min-device-width : 375px) 
            and (max-device-width : 568px) 
            and (orientation : portrait) { 
            max-width:200px;
            }
        }
        p{
            color:#000;
            padding-left: 8px;
        }
    }
    .btnplay{
        display: table-cell;
        vertical-align: middle;
        max-width:50px;
        text-align: center;
        span{
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 100%;
            text-align: center;
            border: 2px solid #f5ba8a;
            @include box-shadow(0 0 3px #f5ba8a);
            zoom: 1;
            display: block;

        }
        i{
            display: inline-block;
            margin: 3px -2px 0 0;
        }
        &:focus,&:hover,&:active,&:visited{
            outline:0;
            // span{
            //     background-color: rgba(0,0,0,.8);
            //     i{
            //         color:rgba(255,255,255,8)
            //     }
            // }
        }
        &.on{
            span{
                background-color: rgba(0,0,0,.8);
                i{
                    color:rgba(255,255,255,8)
                }
            }
        }
    }

}

/* 学员风采 */
.mentee-mien{
    background: url(../images/lib/img/meetee-bg_01.jpg) repeat 0 0;
    background-size: 100% 100%;
}
.mentee-heading{
    margin: 10px 0;
    h3{
        color:#000;
        font-size:1.6rem;
        margin:0;
    }
    span{
        color:#696969;
        font-size:1.2rem;
    }
}

.meetee-recommend{
    background: url(../images/lib/img/meetee-box-bg_03.png) repeat 0 0;
    margin-bottom: 20px;
    position:relative;
    &.label-gallery{
        &:after{
            content:'';
            width: 50px;
            height: 50px;
            position: absolute;
            right:0;
            top:0;
            background:url(../images/lechen/label-g.png) no-repeat 0 0;
            background-size: 100% 100%;
            z-index:300;
        }
    }
    .meetee-lump{
        background: url(../images/lib/img/meetee-box1.png) no-repeat 0 0,url(../images/lib/img/meetee-box3.png) no-repeat left bottom;
        background-size: 100%;
        padding: 12px 0;
        position: relative;
        z-index: 150;
    }
    .meetee-inner{
        background: url(../images/lib/img/meetee-box2.png) repeat 0 0;
        background-size: 100% 100%;
        padding: 5px 15px;
        ul{
            overflow:hidden;
            margin-bottom:0;
        }
        li{
            a{
                position:relative;
            }
        }
    }
    .meetee-lists1{
        width:100%;
        height: 150px;
        li{
            width:30%;
            height:48%;
            float:left;
            a{
                width:100%;
                height:100%;
            }
            img{
                height:100%;
            }
            &:last-child{
                a{
                    &:first-child{
                        margin-bottom: 8%;
                    }
                }
            }
        }
        li:first-child{
            width: 68%;
            height: 100%;
            margin-right: 2%;
            .play-btn{
                width: 60px;
                height: 60px;
            }
        }

    }
    .meetee-lists2{
        li{
            width:33.33%;
            float:left;
            padding:0 1px;
            a,img{
                width:100%;
                height: 100%;
            }
            &:first-child,&:last-child{
            }
            &:nth-of-type(2){
                a{
                    height:48%;
                    &:first-child{
                        margin-bottom:4%;
                    }
                }
            }
        }
    }
    .play-btn{
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        width:40px;
        height:40px;
    }
}