@charset "utf-8";
@import "compass/css3";
@import "compass/layout/stretching";
$fontPrice:#03b8d5;
$themeColor:#03b8d5;

/* tc */

.floot {
    ul#slider2 {
        overflow: hidden;
    }
    #slider2 {
        li {
            position: relative;
            span {
                position: absolute;
                left: 0;
                bottom: 0;
                color: #fff;
                padding: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                width: 70%;
            }
        }
    }
}

#pagenavi {
    position: absolute;
    margin-top: -35px;
    text-align: right;
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    padding: 0 15px;
}

#pagenavi a,
#pagenavi3 a {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background: #5e5651;
    border-radius: 5px;
    line-height: 99em;
    overflow: hidden;
    display: inline-block;
}

#pagenavi a.active {
    background: #fff;
}

.tbanner img {
    max-width: 100%;
}

/* 背景 */
.course-enroll-wrapper{
    background: url(../images/lib/course/form-course_bg_01.png) repeat;
    background-size: 100%;
}

//order-btn
.order-common-btn {
    background: url(../images/lechen/order-btn.png) no-repeat;
    background-size: 100% 100%;
    margin: 25px 15px 15px;
    a {
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 10px 0 15px 0;
        font-weight: bold;
        @include text-shadow(2px 1px 2px #3D3D3D);
        &:hover,
        &:focus,
        &:visited,
        &:focus {
            color: #fff !important;
        }
    }
}
.order-btn-box{
    overflow: hidden;
    margin: 25px 10px 10px;
}
.order-g-btn{
    @extend .order-common-btn;
    background:url(../images/lechen/order-g-btn.png) no-repeat;
    background-size: 100% 100%;
    width:48%;
    float:left;
    margin: 0 0;
    margin-right: 4%;
    padding-right: 2%;
}
.order-y-btn{
    @extend .order-common-btn;
    background:url(../images/lechen/order-y-btn.png) no-repeat;
    background-size: 100% 100%;
    width:48%;
    float:left;
    margin: 0 0;
    padding-right: 2%;
}