@charset "utf-8";
@import "compass/css3";
@import "compass/layout/stretching";
$fontPrice:#03b8d5;
$themeColor:#03b8d5;

/* tc */

.floot {
    ul#slider2 {
        overflow: hidden;
    }
    #slider2 {
        li {
            position: relative;
            span {
                position: absolute;
                left: 0;
                bottom: 0;
                color: #fff;
                padding: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                width: 70%;
            }
        }
    }
}

#pagenavi {
    position: absolute;
    margin-top: -35px;
    text-align: right;
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    padding: 0 15px;
}

#pagenavi a,
#pagenavi3 a {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background: #5e5651;
    border-radius: 5px;
    line-height: 99em;
    overflow: hidden;
    display: inline-block;
}

#pagenavi a.active {
    background: #fff;
}

.tbanner img {
    max-width: 100%;
}
