@charset "utf-8";
@import "compass/css3";
@import "compass/layout/stretching";
@import "compass/utilities/sprites";
$fontPrice:#ff6c00;
$themeColor:#03b8d5;
$gray:#333;

/* index */
.index_wrapper{
    .le-content{
        // background:url(../images/lechen/index_bg_03.png) no-repeat left bottom;
        // background-size: 100%;
        background:url(../images/lechen/index_bg_02.png) repeat-y;
        background-size:100%;
        .le-lump{
            background:url(../images/lechen/index_bg_02.png) repeat-y;
            background-size:100%;
            padding:5px;
            position: relative;
            z-index: 150;
        }
        .le-heading{
            width: 70%;
            margin: 0 auto;
            position:relative;
            margin-bottom: 40%;
            .le-logo{
                position: absolute;
                left: 0;
                right: 0;
                top: -60px;
            }
        }
        .le-lists{
            margin-bottom:0;
            li{
                width:100%;
                height: 70px;
                margin:-33px auto 0;
                position:relative;
                a{
                    text-indent: -999rem;
                    padding:0 30px;
                }
                &:nth-child(even){
                    a{
                        float:left;
                    }
                }
                &:nth-child(odd){
                    a{
                        float:right;
                    }
                }
            }
            @mixin item-bg{

            }
            @each $ibg in(bg1,bg2,bg3,bg4,bg5,bg6){
                .item-#{$ibg}{
                    background:url(../images/lechen/img/#{$ibg}.png) no-repeat;
                    background-size: 100%;
                }
            }
            @each $wid,$width in(bg1:78%,bg2:82%,bg3:86%,bg4:90%,bg5:94%,bg6:98%){
                .item-#{$wid}{
                    width:$width;
                }
            }
            @each$ibg,$zin in(bg1:100,bg2:101,bg3:102,bg4:103,bg5:104,bg6:105) {
                .item-#{$ibg}{
                    z-index:$zin;
                }
            }
        }
    }
    .le-foot{
        // margin-top: -44px;
        z-index: 200;
        position: relative;
        background: url(../images/lechen/lc_food_02.png) no-repeat;
        background-size: 100% 100%;
        height: 150px;
    }
}



/* img-bg */
// $bgs: sprite-map("../images/lechen/img/*.png", $spacing: 5px, $layout: vertical);

// @each $iname in(bg1, bg2, bg3, bg4, bg5, bg6) {
//     .item-#{$iname} {
//         margin: auto;
//         margin-top: 150px;
//         background-image: sprite-url($bgs);
//         @include sprite-dimensions($bgs, $iname);
//         background: url(../images/lechen/img-s3b64fd6fde.png) no-repeat;
//         background-position: sprite-position($bgs, $iname);
//         background-size: inherit;
//     }
// }

/* 音频试听 */
.listen-bg{
    background:url(../images/lib/view/view-bg.jpg) no-repeat;
    background-size: 100%;
}
.audition-lists{
    li{
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 10px 10px 100px;
        margin-bottom: 8px;
        &:after{
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            background: url(../images/lib/view/orange-play-icon.png) no-repeat;
            background-size: 100% 100%;
            width: 110px;
            height: 6px;
        }
    }
    .proPhoto{
        width: 120px;
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 60px;
        left: 10px;
        top: 10px;
        .theme-img{
            width:60px;
            height:60px;
            position:relative;
            .artist-img{
                position: relative;
                z-index: 10;
            }
            .play-cd{
                position:absolute;
                top:0;
                right:-50%;
                width: 100%;
                height: 100%;
                z-index: 5;
            }
            .play-round-btn{
                width:30px;
                height:30px;
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                margin: auto;
                background:url(../images/lib/view/orange-play.png) no-repeat;
                background-size: 100%;
                z-index: 50;
            }
        }
    }
    .privatCont{
        .btnplay{
            color: #ff7800;
            display: table-cell;
            vertical-align: middle;
            max-width: 50px;
            text-align: center;
            i{
                font-size: 2rem;
            }
            em{
                display:block;
                white-space: nowrap;
            }
        }
        .listen-cont{
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            padding-left: 20px;
            h3{
                color:#404040;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size:1.5rem;
                display: inline-block;
                white-space: nowrap;
                max-width: 150px;
                margin-top: 10px;
                @media only screen 
                and (min-device-width : 320px) 
                and (max-device-width : 568px) 
                and (orientation : portrait) { 
                max-width:150px;
                }
                @media only screen 
                and (min-device-width : 375px) 
                and (max-device-width : 568px) 
                and (orientation : portrait) { 
                max-width:200px;
                }
            }
            p{
                color:#898989;
                font-size:1.2rem;
            }
        }
    }
}